<template lang="pug">
  Tabs(:tabs="tabs", v-model="tabSelected", @change="onChangeTab")
</template>
<script>
import Tabs from '@/components/profile/Tabs'
import dataTab from '@/js/data/profile/tabs.js'

export default {
  name: 'profile',
  layout: 'no-slider',
  components: {
    Tabs
  },
  fetch({store, params, app, redirect, route}) {
    const name = route.params.tab
    const find = dataTab.find(item => item.name === name)

    if(!find) {
      return redirect('/profile/my-profile')
    }

    let permit = false
    if(find.auth) {
      permit = store.state.auth ? true : false
    } else {
      permit = true
    }

    if(!permit) {
      return redirect('/login')
    }
  },
  data() {
    return {
      title: 'My Profile',
      tabs: dataTab,
      tabSelected: this.findTab()
    }
  },
  methods: {
    onChangeTab(val) {
      this.tabSelected = val
      this.$router.replace({ query: { tabs: val.name }})
    },
    findTab() {
      const name = this.$route.params.tab
      const find = dataTab.find(item => item.name === name)

      if(this.$_.isEmpty(find)) {
        return this.$router.push('/profile/my-profile')
      }

      return {
        name: find.name,
        component: find.component
      }
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../scss/modules/colors";
  @import "../../scss/modules/list";
  @import "../../scss/modules/tabs";
  @import "../../scss/modules/input";
  @import "../../scss/modules/button";

  // Partials
  @import "../../scss/partials/sidebar";
</style>
