<template lang="pug">
  div
    b-breadcrumb(:items="breadcrumb")
    .row
      .col-md-12.text-center.error
        h1.error-title 500
        h2.error-subTitle SYSTEM ERROR
        p.error-description Sorry for system crashes during processing, please do it again
</template>
<script>
export default {
  layout: 'no-slider',
  data() {
    return {
      title: '500 System error',
      breadcrumb: [{
        text: 'Home',
        to: '/'
      }, {
        text: '500',
        active: true
      }],
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  .error {
    padding: 70px 30px 0;
  }

  .error-title {
    font-size: 100px;
    font-weight: bold;
    color: #e34444;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .error-subTitle {
    position: relative;
    bottom: 9px;
    font-size: 20px;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .error-description {
    margin-bottom: 50px;
    padding-bottom: 54px;
    font-size: 12px;
    color: #666;
    position: relative;
  }
</style>
