<template lang="pug">
  div
    .row.mb-4
      .col-12
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.8143648417185!2d-96.63838048518117!3d32.955910180918345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c1c4edbde2631%3A0x8c6e1ad71e4b83d3!2s716+Cedar+Cove+Dr%2C+Garland%2C+TX+75040%2C+Hoa+K%E1%BB%B3!5e0!3m2!1svi!2s!4v1558081039214!5m2!1svi!2s", width="100%", height="450", frameborder="0", style="border:0", allowfullscreen)
    .row
      .col-sm-6.col-12.tnt-block.tnt-contact-list
        h5.mb-3 Contact Us
        p.mb-2 NothingButNail is humbled and proudly operates under one mindset is to supply and provide our clients in the Beauty Industry .We sell all kinds of tools and products ranging from SPA chairs to Nails Lacquer,Dipping Powder and many many more. We are family-owned business, therefore we do not have high overhead spending which means to you as the clients will get the best deal on every and any products.
        ul.fa-ul
          li
            i.fa-li.fa.fa-home
            p 716 Cedar Cove Dr, Garland, TX 75040
          li
            i.fa-li.fa.fa-phone
            p (+1) 703-622-6226
          li
            i.fa-li.fa.fa-envelope
            p nuadoixaxu.nuadoixaxu@gmail.com
      .col-sm-6.col-12.tnt-block
        form
          .form-group
            input.form-control(v-validate="'required'", type="text", placeholder="Full Name", name="fullName", v-model="form.fullName", :class="validate('fullName') ? 'is-invalid' : ''")
            .invalid-feedback {{validate('fullName')}}
          .form-group
            input.form-control(v-validate="'required'", type="text", placeholder="Email", name="email", v-model="form.email", :class="validate('email') ? 'is-invalid' : ''")
            .invalid-feedback {{validate('email')}}
          .form-group
            input.form-control(v-validate="'required'", type="text", placeholder="Phone", name="phone", v-model="form.phone", :class="validate('phone') ? 'is-invalid' : ''", v-mask="'###-###-####'")
            .invalid-feedback {{validate('phone')}}
          .form-group
            textarea.form-control(v-validate="'required'", placeholder="Contact Content", rows="5", name="content", v-model="form.content", :class="validate('content') ? 'is-invalid' : ''")
            .invalid-feedback {{validate('content')}}
          button.btn.btn-success(type="button", @click="onSubmit", :disabled="!this.$_.isEmpty(errors.items)") Send the contact
</template>
<script>
import swal from 'sweetalert'

export default {
  layout: 'no-slider',
  data() {
    return {
      title: 'Contact',
      form: {
        fullName: '',
        email: '',
        phone: '',
        content: ''
      },
      validateError: {}
    }
  },
  methods: {
    onSubmit() {
      const {
        fullName,
        email,
        phone,
        content
      } = this.form
      this.$axios.post('contact', {
        fullName,
        email,
        phone: phone.replace(/-/g, ''),
        content
      }).then(res => {
        swal({
          text: res.data.message,
          icon: 'success',
        }).then(() => {
          this.$router.push('/')
        })
      }).catch(err => {
        const res = err.response
        if(res.status === 400) {
          this.validateError = res.data.data
          return
        }
      })
    },
    validate(fields) {
      if(this.validateError[fields]) {
        return this.validateError[fields]
      }
      
      if(this.errors.has(fields)) {
        return this.errors.first(fields)
      }

      return null
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../scss/modules/colors";
  @import "../scss/modules/input";
  @import "../scss/modules/button";
  @import "../scss/modules/icon-list";

  // Styles
  @import "../scss/pages/contact";
</style>
