<template lang="pug">
  .tnt-body
    .container
      .row.justify-content-center
        .col-xl-5.col-lg-6.col-md-8.col-12
          b-card
            form.tnt-login-form(v-if="step === 1")
              p.tnt-login-logo
                nuxt-link(to="/")
                  b-img(src="/images/logo.png", width="150")
              .tnt-input-group
                input(type="text", name="username", placeholder="Email Address or Phone Number", v-model="form.username")
                span.text-danger {{this.validateError.username}}
              .tnt-input-group.text-center.tnt-gcaptcha
                VueRecaptcha(ref="recaptcha", :sitekey="gcaptcha.sitekey", @verify="onVerify", @expired="onExpired")
              .tnt-input-group
                button.btn.btn-success.btn-lg.btn-block.tnt-login-btn(type="button", @click="onStep2") Continue
            form.tnt-login-form(v-if="step === 2")
              p.tnt-login-logo
                nuxt-link(to="/")
                  b-img(src="/images/logo.png", width="150")
              p.text-danger We have sent the verify code to your email, please visit the email to receive the verify code.
              .tnt-input-group
                input(type="text", name="code", placeholder="Code verify", v-model="form.code")
                span.text-danger {{this.validateError.code}}
              .tnt-input-group
                button.btn.btn-success.btn-lg.btn-block.tnt-login-btn(type="button", @click="onStep3") Continue
            form.tnt-login-form(v-if="step === 3")
              p.tnt-login-logo
                nuxt-link(to="/")
                  b-img(src="/images/logo.png", width="150")
              .tnt-input-group
                input(type="password", name="password", placeholder="New password", v-model="form.password")
                span.text-danger {{this.validateError.password}}
              .tnt-input-group
                input(type="password", name="rePassword", placeholder="Re-Password", v-model="form.rePassword")
                span.text-danger {{this.validateError.rePassword}}
              .tnt-input-group
                button.btn.btn-success.btn-lg.btn-block.tnt-login-btn(type="button", @click="onChangePassword") Change Password
            .row.tnt-input-group
              .col-md-12.col-12.text-center
                nuxt-link(to="/login") Back to login page
            script(type="text/javascript", src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit", async, defer)
</template>
<script>
import VueRecaptcha from 'vue-recaptcha'
import swal from 'sweetalert'

export default {
  layout: 'blank',
  components: {
    VueRecaptcha
  },
  data() {
    return {
      title: 'Forgot password',
      step: 1,
      gcaptcha: {
        sitekey: process.env.captchaSitekey,
        token: ''
      },
      form: {
        username: '',
        code: '',
        password: '',
        rePassword: '',
        idCustomer: '',
        tmpCode: ''
      },
      validateError: {
        username: '',
        code: '',
        password: '',
        rePassword: ''
      }
    }
  },
  methods: {
    onVerify(res) {
      this.gcaptcha.token = res
    },
    onExpired() {
      
    },
    resetRecaptcha() {
      this.$refs.recaptcha.reset()
    },
    onStep2() {
      // Validate token client
      if(!this.gcaptcha.token) {
        swal({
          text: 'You are robot. Please verify captcha.',
          icon: 'error',
        })
        return;
      }

      this.$axios.post('/resetpassword', {
        username: this.form.username,
        token: this.gcaptcha.token
      }).then((res) => {
        const data = res.data
        this.validateError = {}
        this.form.idCustomer = data.data.id_customer
        this.step = 2
      }).catch((err) => {
        const { status, data } = err.response
        if(data.data) {
          this.validateError = data.data
        } else {
          swal({
            text: data.message,
            icon: 'error',
          })
        }
      })
    },
    onStep3() {
      this.$axios.post('/passconfirm', {
        code: this.form.code,
        idCustomer: this.form.idCustomer
      }).then((res) => {
        const data = res.data
        if(data.status) {
          this.validateError = {}
          this.form.idCustomer = data.data.id_customer
          this.form.tmpCode = data.data.code
          this.step = 3
        } else {
          this.validateError = data.data
        }
      }).catch((err) => {
        const { data } = err.response
        this.validateError = data.data
      })
    },
    onChangePassword() {
      this.$axios.post('/passcomplete', {
        idCustomer: this.form.idCustomer,
        code: this.form.tmpCode,
        password: this.form.password,
        rePassword: this.form.rePassword
      }).then((res) => {
        const data = res.data
        if(data.status) {
          this.validateError = {}
          swal({
            text: data.message,
            icon: 'success',
          }).then(() => {
            this.$router.push('/login')
          })
        } else {
          swal({
            text: data.message,
            icon: 'error',
          })
        }
      }).catch((err) => {
        const { data } = err.response
        this.validateError = data.data
      })
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../scss/modules/colors";

  // Partials
  @import "../scss/pages/login";
</style>
