<template lang="pug">
  
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined

export default {
  layout: 'blank',
  beforeCreate() {
    Cookie.remove('auth')
    this.$store.commit('setAuth', null)
    this.$store.commit('cart/setCount', 0)
    this.$router.push('/')
  }
}
</script>
