<template lang="pug">
  .tnt-body
    .container
      .row.justify-content-center
        .col-md-6.col-sm-10.col-12
          .tnt-maintenance.text-center
            .row
              .col-12
                h1.h1 MAINTENANCE
            .row
              .col-12
                p.tnt-maintenance-subMessage This site is being suspended for maintenance, please come back later. Sorry for the inconvenience.
            .row
              .col-md-3.col-6
                .tnt-maintenance-circle.d-flex.justify-content-center.align-items-center.flex-column
                  span.tnt-maintenance-timeNumber {{format(remain.days())}}
                  span Days
              .col-md-3.col-6
                .tnt-maintenance-circle.d-flex.justify-content-center.align-items-center.flex-column
                  span.tnt-maintenance-timeNumber {{format(remain.hours())}}
                  span Hours
              .col-md-3.col-6
                .tnt-maintenance-circle.d-flex.justify-content-center.align-items-center.flex-column
                  span.tnt-maintenance-timeNumber {{format(remain.minutes())}}
                  span Minutes
              .col-md-3.col-6
                .tnt-maintenance-circle.d-flex.justify-content-center.align-items-center.flex-column
                  span.tnt-maintenance-timeNumber {{format(remain.seconds())}}
                  span Seconds
            .row.justify-content-center
              .col-12
                img(src="/images/icon/maintenance.svg", width="230", alt="")
</template>
<script>
import moment,{ now } from 'moment'

export default {
  layout: 'blank',
  async fetch({store, params, app, redirect}) {
    if(!store.state.maintenance.status) {
      await app.$axios.get('maintain').then(res => {
        redirect('/')
      }).catch(err => {
        store.dispatch('maintenance/setStatus', true)
      })
    }
  },
  data() {
    return {
      title: 'The site is in the maintenance',
      remain: moment(),
      dayEnd: moment().add(1, 'days')
    }
  },
  mounted() {
    this.remain = this.calculator()
    setInterval(() => {
      this.remain = this.calculator()
    }, 1000)
  },
  methods: {
    calculator() {
      const now = moment()
      const to = this.dayEnd
      const cal = to.diff(now)
      const result = moment.duration(cal)
      return result
    },
    format(n) {
      return n < 10 ? `0${n}` : n < 0 ? `00` : n
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../scss/modules/colors";

  // Partials
  @import "../scss/pages/maintenance";
</style>
