<template lang="pug">
  .tnt-body
    .container
      .row.justify-content-center
        .col-xl-5.col-lg-6.col-md-8.col-12
          b-card
            form.tnt-login-form(method="POST")
              p.tnt-login-logo
                nuxt-link(to="/")
                  b-img(src="/images/logo.png", width="150")
              .form-group
                input.form-control.form-control-lg(v-validate="'required'", type="text", name="firstName", placeholder="First Name", v-model="form.firstName", :class="validate('firstName') ? 'is-invalid' : ''")
                .invalid-feedback {{validate('firstName')}}
              .form-group
                input.form-control.form-control-lg(v-validate="'required'", type="text", name="lastName", placeholder="Last Name", v-model="form.lastName", :class="validate('lastName') ? 'is-invalid' : ''")
                .invalid-feedback {{validate('lastName')}}
              .form-group
                input.form-control.form-control-lg(v-validate="'required|email'", type="text", name="email", placeholder="Email Address", v-model="form.email", :class="validate('email') ? 'is-invalid' : ''")
                .invalid-feedback {{validate('email')}}
              .form-group
                input.form-control.form-control-lg(v-validate="'required'", type="password", name="password", placeholder="Password", v-model="form.password", :class="validate('password') ? 'is-invalid' : ''")
                .invalid-feedback {{validate('password')}}
              .form-group
                input.form-control.form-control-lg(v-validate="'required'", type="password", name="rePassword", placeholder="Confirm password", v-model="form.rePassword", :class="validate('rePassword') ? 'is-invalid' : ''")
                .invalid-feedback {{validate('rePassword')}}
              .form-row
                .form-group.col-md-7
                  input.form-control.form-control-lg(v-validate="'required'", type="text", name="phone", placeholder="Phone Number", v-mask="'###-###-####'", v-model="form.phone", :class="validate('phone') ? 'is-invalid' : ''")
                  .invalid-feedback {{validate('phone')}}
                .form-group.col-md-5
                  select.form-control.form-control-lg(v-validate="'required'", name="network", v-model="form.network", :class="validate('network') ? 'is-invalid' : ''")
                    option(value="") ---Provider---
                    option(:value="item.domain_network", v-for="item in $store.state.register.network") {{item.name_network}}
                  .invalid-feedback {{validate('network')}}
              .tnt-input-group
                .tnt-input-checbox
                  input#agree(v-validate="'required'", type="checkbox", name="agree", value="1", v-model="form.agree")
                  label(for="agree") I agree to DNM
                    nuxt-link(to="policy")  Terms and Conditions and Privacy Policies.
                span.text-danger {{validate('agree')}}
              .tnt-input-group
                button.btn.btn-success.btn-lg.btn-block.tnt-login-btn(type="button", @click="onRegister", :disabled="!this.$_.isEmpty(errors.items)") Register
              .row.tnt-input-group
                .col-md-12.col-12.text-center
                  nuxt-link(to="/login") I already have an account?
</template>
<script>
import swal from 'sweetalert'

export default {
  layout: 'blank',
  middleware: 'notAuthenticated',
  data() {
    return {
      title: 'Register',
      form: {
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        rePassword: '',
        phone: '',
        network: '',
        agree: true
      },
      validateError: {}
    }
  },
  async fetch ({store, params, app}) {
    const fields = ['domain_network', 'name_network']
    const { data } = await app.$axios.get(`/carrier?fields=${fields.join(',')}`)
    return store.commit('register/add', data.data)
  },
  methods: {
    onRegister() {
      this.validateError = {}
      const {
        firstName,
        lastName,
        email,
        password,
        rePassword,
        phone,
        network,
        agree } = this.form
      this.$axios.post('/signup', {
        firstName,
        lastName,
        email,
        password,
        rePassword,
        phone: phone.replace(/-/g, ''),
        network,
        agree
      })
        .then((res) => {
          if(!res.data.status) {
            swal({
              text: res.data.message,
              icon: 'error',
            })
          } else {
            swal({
              text: res.data.message,
              icon: 'success',
            }).then(() => {
              this.$router.push('/login')
            })
          }
        })
        .catch((err) => {
          const res = err.response
          if(res.status === 400) {
            this.validateError = res.data.data
            return
          }
        })
    },
    validate(fields) {
      if(this.validateError[fields]) {
        return this.validateError[fields]
      }
      
      if(this.errors.has(fields)) {
        return this.errors.first(fields)
      }

      return null
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../scss/modules/colors";
  @import "../scss/modules/input";
  @import "../scss/modules/button";

  // Partials
  @import "../scss/pages/login";
</style>
