<template lang="pug">
  div
    b-breadcrumb(:items="breadcrumb")
    .mb-2(v-if="brandName") Search in
      b
        i  {{brandName}}
    form.mb-4(@submit.prevent="onSubmit")
      .row
        .col-md-6.col-12
          .row
            .col-md-6.col-12
              .form-group
                label.mb-2(for="keywords") Keywords
                input.form-control(placeholder="Keywords", v-model="form.keywords", id="keywords")
            .col-md-6.col-12
              .form-group
                label.mb-2(for="categories") Categories
                select.form-control(id="categories", v-model="categoriesValue", @change="findSubCategories")
                  option(value="") All Categories
                  option(v-for="item,i in categories", :value="item.id") {{item.name}}
        .col-md-6.col-12(v-if="categoriesValue && !$_.isEmpty(subCategories)")
          .form-group
            label.mb-2(for="subCategories") Sub-Categories
            .form-check.mb-2
              input.form-check-input(type="checkbox", id="subCategorySelectAll", v-model="form.isCheckAll", @change="onCheckAll")
              label.form-check-label(for="subCategorySelectAll") Select All
            .row
              .col-md-4.col-6.mb-2(v-for="item,i in subCategories")
                .form-check.d-inline-block.mr-4.ml-3
                  input.form-check-input(type="checkbox", :value="item.id", :id="`subCategory${item.id}`", v-model="form.subCategories", @change="onSubCategoriesChange")
                  label.form-check-label(:for="`subCategory${item.id}`") {{item.name}}
      .row
        .col-md-6.col-12
          .form-group
            .form-check
              input.form-check-input(type="checkbox", id="desc", v-model="form.desc")
              label.form-check-label(for="desc") Search in product descriptions
      input.btn.btn-secondary(type="submit", value="Search")
    .row(ref="searchResult")
      .col-md-3.col-12
        .tnt-content-sidebar.tnt-padding-20(:class="sideBar ? 'is-open' : ''")
          .tnt-sidebar-title
            .row.align-items-center
              h4.col-10 FILTER BY
              a.col-2.tnt-sidebar-close.d-block.d-sm-none(href="javascript:void(0)", @click="sideBar = false") &times;
          .tnt-sidebar-sub
            .tnt-block-title
              h5 Price
            .tnt-block-body
              .tnt-range-mb.d-sm-none.d-block
                .row
                  .col-6
                    b-form-input(type="number", placeholder="Min", :value="range.value[0]", @input="updatePriceMin")
                  .col-6
                    b-form-input(type="number", placeholder="Max", :value="range.value[1]", @input="updatePriceMax")
              .tnt-range
                vue-slider.d-none.d-sm-block(
                  v-model="range.value",
                  v-bind="range.options"
                )
              button.tnt-btn-filter(type="button", @click="onConditionChange") Filter
          .tnt-sidebar-sub
            .tnt-block-title
              h5 Rate
            .tnt-block-body
              StartRate(:rate="5", :size="3", @click="onRateClick(5)", mode="click")
              StartRate(:rate="4", :size="3", @click="onRateClick(4)", mode="click")
              StartRate(:rate="3", :size="3", @click="onRateClick(3)", mode="click")
              StartRate(:rate="2", :size="3", @click="onRateClick(2)", mode="click")
              StartRate(:rate="1", :size="3", @click="onRateClick(1)", mode="click")
              StartRate(:rate="0", :size="3", @click="onRateClick(0)", mode="click")
          .tnt-sidebar-sub.block.d-sm-none.d-block
            .tnt-toolbar-select
              label Sort by
              .tnt-toolbar-option
                select(name="sortBy", v-model="toolbar.sortBy", @change="onConditionChange")
                  option(value="") Popularity
                  option(value="price_discount:asc") Price low to high
                  option(value="price_discount:desc") Price high to low
            .tnt-toolbar-select
              label Show
              .tnt-toolbar-option
                select(name="onePerPage", v-model="toolbar.onePerPage", @change="onConditionChange")
                  option(value="20") 20
                  option(value="50") 50
                  option(value="100") 100
      .col-md-9.col-12
        .tnt-content-body
          .tnt-toolbar
            .row
              .col-md-3.col-6
                span Grid view: 
                a.tnt-toolbar-icon.d-inline-block(href="javascript:void(0)", @click="cols = 2", :class="cols === 2 ? 'is-active' : ''")
                  | 2
                a.tnt-toolbar-icon.d-none.d-md-inline-block(href="javascript:void(0)", @click="cols = 3", :class="cols === 3 ? 'is-active' : ''")
                  | 3
                a.tnt-toolbar-icon.d-none.d-lg-inline-block(href="javascript:void(0)", @click="cols = 4", :class="cols === 4 ? 'is-active' : ''")
                  | 4
              .col-md-9.col-6.text-right.d-sm-none.d-block
                span.tnt-amount-mb.d-sm-none.d-inline-block {{total}} item(s)
                a.tnt-toolbar-icon.is-active(href="javascript:void(0)", title="Filter", @click="sideBar = true")
                  i.fa.fa-filter
              .col-md-9.col-9.text-left.text-sm-right.d-sm-block.d-none
                .tnt-toolbar-select
                  label Sort by
                  .tnt-toolbar-option
                    select(name="sortBy", v-model="toolbar.sortBy", @change="onConditionChange")
                      option(value="") Popularity
                      option(value="price_discount:asc") Price low to high
                      option(value="price_discount:desc") Price high to low
                .tnt-toolbar-select
                  label Show
                  .tnt-toolbar-option
                    select(name="onePerPage", v-model="toolbar.onePerPage", @change="onConditionChange")
                      option(value="20") 20
                      option(value="50") 50
                      option(value="100") 100
          Pagination(v-model="pagination", :totalPage="totalPage", @change="paging")
          .tnt-product
            .row
              .col-md-12(v-if="!$_.isEmpty(products) && products.length > 0")
                GridProduct(:list="products", :cols="cols")
              .col-12.text-center(v-else) No products to display
          Pagination(v-model="pagination", :totalPage="totalPage", @change="paging")
</template>
<script>
import StartRate from '@/components/StarRate'
import vueSlider from 'vue-slider-component'
import GridProduct from '@/components/products/Grid'
import Pagination from '@/components/Pagination'

export default {
  layout: 'no-slider',
  components: {
    vueSlider,
    GridProduct,
    Pagination,
    StartRate
  },
  async fetch({ store, params, app, route }) {
    const { data } = await app.$axios.get('elastic_search', {
      params: route.query
    })
    store.commit('search/SET_DATA', data.data)
  },
  data() {
    return {
      title: `Search results for "${this.$route.query.q}"`,
      breadcrumb: this.createBreadcrumb(),
      brandName: this.$route.query.brandName,
      sideBar: false,
      form: {
        keywords: this.$route.query.q,
        isCheckAll: false,
        subCategories: [],
        rate: 0,
        desc: false
      },
      categoriesValue: '',
      subCategories: [],
      range: {
        value: this.$store.state.search.data.rangePrice,
        options: {
          min: 0,
          max: this.$store.state.search.data.priceMax,
          formatter: '${value}',
          tooltipStyle: {
            backgroundColor: '#e34444',
            borderColor: '#e34444'
          },
          processStyle: {
            backgroundColor: '#e34444'
          },
          interval: Math.ceil(this.$store.state.search.data.priceMax / 100)
        }
      },
      toolbar: {
        sortBy: this.$route.query.sortBy ? this.$route.query.sortBy : '',
        onePerPage: this.$route.query.onePerPage ? parseInt(this.$route.query.onePerPage) : 20
      },
      pagination: {
        total: this.$store.state.search.data.paging.total,
        display: 5,
        currentPage: this.$route.query.page ? parseInt(this.$route.query.page) : 1
      },
      cols: 4
    }
  },
  computed: {
    total() {
      return this.$store.state.search.data.paging.total
    },
    totalPage() {
      return this.$_.isEmpty(this.$store.state.search.data) ? 0 : Math.ceil(this.$store.state.search.data.paging.total / this.toolbar.onePerPage)
    },
    products() {
      return this.$store.state.search.data.products
    },
    categories() {
      return this.$store.state.category.categories
    }
  },
  methods: {
    createBreadcrumb() {
      let breadcrumb = [{
        text: 'Home',
        to: '/'
      }]

      if(this.$route.query.q) {
        breadcrumb.push({
          text: `Search results for "${this.$route.query.q}"`,
          active: true
        })
      } else {
        breadcrumb.push({
          text: `Search`,
          active: true
        })
      }

      return breadcrumb
    },
    genPath() {
      const condition = {
        page: this.pagination.currentPage,
        categories: [...[this.categoriesValue], ...this.form.subCategories],
        condition: `priceMin:${this.range.value[0]},priceMax:${this.range.value[1]},rate:${this.form.rate},desc:${this.form.desc}`,
        sortBy: this.toolbar.sortBy,
        onePerPage: this.toolbar.onePerPage,
        q: this.form.keywords,
        brand: this.$route.query.brand
      }
      const params = Object.entries(condition).map(([key, val]) => `${val ? `${key}=${val}` : ''}`).join('&')
      return params
    },
    async onConditionChange() {
      const { data } = await this.$axios.get(`elastic_search?${this.genPath()}`)
      this.sideBar = false
      this.pagination.total = data.data.paging.total
      this.$store.commit('search/SET_DATA', data.data)
      this.$router.replace(`${this.$route.path}?${this.genPath()}`)

      // Scroll animation
      window.scrollTo({
        top: this.$refs.searchResult.offsetTop - 20,
        behavior: 'smooth'
      })
    },
    paging(i) {
      this.pagination.currentPage = i
      this.onConditionChange()
    },
    onSubmit() {
      if(!this.form.keywords) return
      this.onConditionChange()
    },
    findSubCategories() {
      const index = this.$_.findIndex(this.categories, item => item.id === this.categoriesValue)
      this.subCategories = index > -1 ? this.categories[index].listChild : []

      // Reset select categories
      this.form.isCheckAll = false
      this.form.subCategories = []
    },
    onCheckAll() {
      if(this.form.isCheckAll) {
        const index = this.$_.findIndex(this.categories, item => item.id === this.categoriesValue)
        this.form.subCategories = this.categories[index].listChild.map(item => item.id)
      } else {
        this.form.subCategories = []
      }
    },
    onSubCategoriesChange() {
      const index = this.$_.findIndex(this.categories, item => item.id === this.categoriesValue)
      if(this.form.subCategories.length !== this.categories[index].listChild.length) {
        this.form.isCheckAll = false
      } else {
        this.form.isCheckAll = true
      }
    },
    updatePriceMin(e) {
      this.range.value[0] = e
    },
    updatePriceMax(e) {
      this.range.value[1] = e
    },
    onRateClick(n) {
      this.form.rate = n
      this.onConditionChange()
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../scss/modules/colors";
  @import "../scss/modules/input";
  @import "../scss/modules/button";
  @import "../scss/modules/checkbox";

  // Partials
  @import "../scss/partials/sidebar";
  @import "../scss/pages/search";
</style>
