.tnt-footer-top {
  background-color: $color-f8f8f6;
  padding-top: 42px;
  padding-bottom: 14px;
}

.tnt-about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 19px;
  border-bottom: 1px solid #eaeaea;
}

.tnt-about-area {
  padding: 5px 80px 35px;
}

.tnt-about-title {
  font-size: 25px;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
}

.tnt-about-content {
  font-size: 12px;
  text-align: center;
  line-height: 1.42857143;
}

.tnt-footer-col {
  padding-top: 35px;
  font-size: 12px;

  h6 {
    color: #333;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }

  ul {
    li {
      margin-bottom: 8px;
      color: #666;
    }

    a {
      color: #666;

      &:hover {
        color: $color-e34444;
        text-decoration: none;
      }
    }

    p {
      line-height: 21px;
    }
  }
}

.tnt-subcribe-email {
  width: 100%;
  height: 36px;
  border: 1px solid $color-eaeaea!important;
  background: #fff;
  padding-left: 10px;
  margin-bottom: 8px;
  outline: 0;
}

.tnt-subcribe-submit {
  font-size: 12px;
  line-height: 29px;
  color: $color-ffffff;
  height: 30px;
  text-align: center;
  padding: 0 15px;
  position: relative;
  transition: all 0.2s linear;
  background-color: $color-222222;
  border-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: $color-ffffff;
    background-color: $color-e34444;
  }
}

.tnt-footer-bottom {
  padding: 14px 0 18px 0;
  color: $color-666666;
  background: $color-ffffff;
}

.tnt-footer-copyright {
  margin: 0;
  padding-top: 12px;
  font-size: 12px;
}

.tnt-footer-payment {
  margin: 0;
  list-style: none;
  padding-top: 8px;
  text-align: right;
}

@media (max-width: 767.98px) {
  .tnt-footer-copyright {
    text-align: center;
  }

  .tnt-footer-payment {
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  .tnt-about-area {
    padding-left: 10px;
    padding-right: 10px;
  }
}

// Large devices (desktops, less than 1200px)
@media (min-width: 992px) {
  .tnt-about-area {
    padding-left: 20px;
    padding-right: 20px;
  }
}