.tnt-header {
  font-size: 12px;
  z-index: 2;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
  transition: top 0.5s;
  box-shadow: 0 0 10px $color-666666;
}

.tnt-header-full {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: $color-ba5370; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $color-f4e2d8, $color-ba5370); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $color-f4e2d8, $color-ba5370); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tnt-header-top {
  background: none;
  z-index: 3;
  border-bottom: 1px solid $opacity-ffffff-2;
}

.tnt-search-form {
  border-left: 1px solid $opacity-ffffff-2;
  border-right: 1px solid $opacity-ffffff-2;
  padding: 11px 15px;
}

.tnt-search-input {
  border: none;
  background: none;
  font-size: 12px;
  height: 100%;
  min-width: 140px;
  color: $color-ba5370;

  &::placeholder {
    color: $color-ba5370;
    font-size: 12px;
  }

  &:focus {
    outline: none;
  }
}

.tnt-search-btn {
  outline: 0;
  border: none;
  background: none;
  color: $color-ba5370;
  cursor: pointer;

  &:hover {
    color: $color-c31432;
  }
}

.tnt-module {
  display: flex;
  justify-content: space-between;
}

.tnt-header-account-item {
  display: inline-block;
  border-right: 1px solid $opacity-ffffff-2;
  cursor: pointer;

  &>a {
    display: block;
    padding: 13px 20px;
    text-decoration: none;
    color: $color-ffffff;
  }

  &:first-child {
    border-left: 1px solid $opacity-ffffff-2;
  }

  &:hover {
    background: $opacity-000000-1;
  }
}

.tnt-header-logo {
  img {
    pointer-events: auto;
    cursor: pointer;
  }
}

.tnt-header-menu {
  display: none;
}

.tnt-nav-open {
  display: none;
}

.tnt-nav-close {
  display: none;
}

.tnt-mainMenu {
  text-align: right;
  padding-top: 5px;
  background: none;
}

.tnt-mainNav {
  display: inline-block;

  &:not(:last-child) {
    border-right: 1px solid $opacity-ffffff-2;
  }
}

.tnt-cart-icon {
  color: $color-ffffff;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 80px;
  background-color: $color-aa4b6b;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px $color-666666;
}

.tnt-logo-fluid {
  max-width: 100%;
}

.tnt-mainNav-icon {
  color: $color-ffffff;
  font-size: 13px;
  padding: 13px;
  position: relative;

  &:hover {
    color: $color-ffffff;

    & .tnt-wrap-subMenu {
      display: block;
    }
  }
}

.tnt-mainNav-badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: $color-f56c6c;
  border-radius: 50%;
  color: $color-ffffff;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tnt-mainNav-item {
  display: inline-block;
  position: relative;

  &>a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: $color-ffffff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 3px;
  }
}

.tnt-wrap-subMenu {
  position: absolute;
  right: 0;
  top: 100%;
  padding-top: 10px;
  padding-left: 5px;
  width: 170px;
  max-width: 170px;
  text-align: left;
  display: none;
  z-index: 1;

  &:hover {
    display: block;
  }

  &::after {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $color-ffffff;
    right: 15px;
    top: 0;
  }
}

.tnt-mainNav-child {
  padding: 5px 0;
  background-color: $color-ffffff;
  border-radius: 5px;
}

.tnt-mainNav-child-item {
  position: relative;

  a {
    display: block;
    font-size: 13px;
    padding: 5px 15px;

    &:hover {
      background-color: $opacity-000000-1;
      font-weight: bold;
    }
  }

  span {
    display: none;
  }

  &.is-open {
    &>.tnt-wrap-secondMenu {
      display: block;
    }

    &>.tnt-wrap-menuTitle {
      span {
        &::before {
          content: '\f0de';
        }
      }
    }
  }
}

.tnt-wrap-secondMenu {
  position: absolute;
  top: 0;
  left: 165px;
  padding-left: 5px;
  display: none;

  &::after {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid $color-ffffff;
    left: 0;
    top: 7px;
  }
}

.tnt-subMenu-cart {
  min-width: 300px;
  background-color: $color-ffffff;
  border-radius: 5px;

  &::after {
    top: -10px;
    right: 8px;
  }
}

.tnt-cart {
  padding: 0 10px 10px;
  color: $color-666666;
  border-bottom: 1px solid $opacity-000000-2;
}

.tnt-cart-media {
  cursor: pointer;
  border: 1px solid $opacity-000000-2;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover {
    border: 1px solid $color-e34444;
  }
}

.tnt-cart-title {
  margin-bottom: 5px;
}

.tnt-cart-price {
  color: $color-f57224;
  font-size: 16px;
}

.tnt-cart-rootPrice {
  font-size: 12px;
  text-decoration: line-through;
}

.tnt-cart-sale {
  margin-left: 10px;
  font-size: 12px;
}

.tnt-cart-total {
  color: $color-666666;
  text-align: right;
  padding: 20px;
  border-bottom: 1px solid $opacity-000000-2;
}

.tnt-cart-btn {
  padding: 20px;

  a {
    display: block;
    width: 100%;
    font-size: 12px;
    color: $color-666666;
    border: 1px solid $color-eaeaea;
    font-weight: bold;
    text-transform: uppercase;
    padding: 11px 10px 9px;
    transition: all 0.3s ease-out 0s;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: $color-e34444;
      border: 1px solid $color-e34444;
      color: $color-ffffff;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.tnt-cart-close {
  margin: 5px 5px 0 0;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .tnt-mb-toolbar {
    height: 54px;
  }

  .tnt-nav-open {
    display: inline-block;
    // padding: 5px 5px;

    a {
      color: $color-ffffff;
      font-size: 24px;

      &:not(:last-child) {
        margin-right: 16px;
      }
    }

    &:hover {
      color: $color-ffffff;
      text-decoration: none;
    }
  }

  .tnt-nav-close {
    display: inline;
    color: $color-ffffff;
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 15px;

    &:hover {
      color: $color-ffffff;
      text-decoration: none;
    }
  }

  .tnt-module {
    display: block;
  }

  .tnt-header-search {
    display: flex;
    align-items: center;

  }

  .tnt-search-form {
    border: none;
  }

  .tnt-navMenu {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 52;
    top: 0;
    left: 0;
    background-color: $color-000000;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;

    &.is-active {
      height: 100%;
    }
  }

  .tnt-header-account-item {
    display: block;
    border: none;
    text-align: center;
    font-size: 20px;

    &:first-child {
      border: none;
    }

    &:hover {
      background: none;
    }
  }

  .tnt-header-menu {
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
    align-items: center;
  }

  .tnt-overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 52;
    transition: 0.5s;

    &.is-active {
      left: 0;
    }
  }

  .tnt-overlay-mark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: transparent;
  }

  .tnt-mainMenu {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    background-color: $color-000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 35px 15px 10px;
    z-index: 1;
  }

  .tnt-mainNav {
    display: block;

    &:not(:first-child) {
      display: none;
    }

    &:not(:last-child) {
      border: none;
    }
  }

  .tnt-mainNav-item {
    display: block;

    & .tnt-wrap-subMenu.is-open {
      display: block;
    }
  }

  .tnt-wrap-subMenu {
    position: relative;
    padding-top: 0;
    width: 100%;
    max-width: 100%;

    &::after {
      content: none;
    }
  }

  .tnt-mainNav-child {
    background-color: transparent;
    padding-left: 20px;
  }

  .tnt-mainNav-child-item {
    a, span {
      color: $color-ffffff;
      display: block;
      height: 100%;
    }

    a {
      flex: 1;

      &:hover {
        background-color: $opacity-ffffff-1;
      }
    }

    span {
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: '\f0dd';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color: $color-ffffff;
      }
    }
  }

  .tnt-wrap-menuTitle {
    display: flex;
    align-items: center;
    height: 28px;
  }

  .tnt-wrap-secondMenu {
    position: relative;
    padding: 0;
    left: 0;

    &::after {
      content: none;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (min-width: 992px) {
  .tnt-menu {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .tnt-mainNav-item {
    &:hover {
      &::before {
        left: 0;
        right: 0;
      }
  
      &>.tnt-wrap-subMenu {
        display: block;
      }
    }

    &.is-active {
      &::before {
        left: 0;
        right: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 51%;
      right: 51%;
      bottom: 0;
      background: $color-ffffff;
      height: 2px;
      -webkit-transition-property: left, right;
      transition-property: left, right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
  }

  .tnt-mainNav-child {
    box-shadow: 0 0 1px $color-666666;
  }

  .tnt-mainNav-child-item {
    &:hover {
      &>.tnt-wrap-secondMenu {
        display: block;
      }
    }
  }

  .tnt-wrap-secondMenu {
    width: 170px;
    max-width: 170px;
  }
}