.tnt-content-sidebar {
  border: 1px solid $color-eaeaea;
  margin-bottom: 20px;

  &-error {
    border: 1px solid $color-e34444;
    box-shadow: 0 0 10px $color-e34444;
  }
}

.tnt-sidebar-title {
  background: url(/images/border.png);
  background-repeat: repeat-x;
  color: $color-333333;
  text-transform: uppercase;
  background-position: left bottom;
  padding-bottom: 14px;
  margin-bottom: 14px;

  h4 {
    font-weight: bold;
    font-size: 20px;
  }
}

.tnt-sidebar-sub {
  padding-bottom: 15px;

  &:not(:last-child) {
    border-bottom: 1px solid $color-eaeaea;
    margin-bottom: 15px;
  }
}

.tnt-block-title {
  margin-bottom: 10px;
  text-transform: uppercase;

  h5 {
    font-weight: bold;
    font-size: 14px;
  }

  a {
    color: $color-333333;
  }
}