<template lang="pug">
  .row
    b-modal(title="Cart Error", v-model="shipping.showModalError", centered)
      pre.text-danger {{validateError.cartCheck}}
      div(slot="modal-footer")
        button.btn.btn-danger(type="button", @click="shipping.showModalError = false") Close
    b-modal#modalShipAddress(size="lg", title="Shipping Address", centered, v-model="shipping.showModal")
      .table-responsive
        table.table
          thead.thead-light
            tr
              th
              th Full Name
              th Address
              th PostCode
              th Phone Number
              th
          tbody
            tr(v-for="item,i in shippingAddress", :key="item.id")
              td
                .form-check.form-check-inline
                  input.form-check-input(type="radio", :value="i", v-model="shipping.address", @change="onChangeAddress(item.id)")
              td {{item.full_name}}
              td {{item.address}}
              td {{item.name_city}}
              td {{item.phone}}
              td {{item.default_f ? 'Default' : ''}}
      div(slot="modal-footer")
        nuxt-link.btn.btn-success(to="/profile/address-book")
          i.fa.fa-plus
    .col-md-8.tnt-block
      .row.tnt-block
        .col-12
          .tnt-index-1
            VueStep.tnt-vue-step(:now-step="stepOptions.nowStep", :step-list="stepOptions.stepList", :style-type="stepOptions.styleType")
      .row.tnt-block
        .col-12
          Shipping(:options="shipping.options", v-model="shipping.selected")
      .row.tnt-block
        .col-12.text-center
          nuxt-link.btn.btn-outline-secondary(to="/cart")
            i.fa.fa-angle-left
            |  Back to cart
    .col-md-4.tnt-block
      .tnt-content-sidebar.tnt-padding-20
        .row.tnt-block
          .col-12
            .tnt-sidebar-title
              h4 Shipping & Billing
            .tnt-sidebar-content
              .row.tnt-block
                .col-10(v-if="!$_.isEmpty(shippingAddress) && shipping.address > -1")
                  p.tnt-ship-to Ship to
                  p.tnt-ship-name {{shippingAddress[shipping.address].full_name}}
                  p.tnt-ship-address {{shippingAddress[shipping.address].address}}, {{shippingAddress[shipping.address].name_city}}
                .col-10(v-else)
                  p.tnt-ship-to Ship to
                  p.tnt-ship-address
                    nuxt-link.text-danger(to="/profile/my-profile") Please update the infomation to continue checkout
                .col-2.text-right(v-if="!$_.isEmpty(shippingAddress) && shipping.address > -1")
                  a(href="javascript:void(0)", @click="shipping.showModal = true") EDIT
              .row.tnt-block(v-if="shipping.emailMode === 'view'")
                .col-10
                  p.tnt-ship-email Send to additional recipient {{shipping.email ? shipping.email : ''}}
                .col-2.text-right
                  a(href="javascript:void(0)", @click="shipping.emailMode = 'edit'") EDIT
              .row.tnt-block(v-if="shipping.emailMode === 'edit'")
                .col-8
                  input.form-control(type="text", placeholder="Enter email additional recipient", v-model="shipping.email")
                .col-4
                  button.btn.btn-success.btn-block(type="button", @click="saveEmailShipping") SAVE
      .tnt-content-sidebar.tnt-padding-20
        .row.tnt-block
          .col-12
            .tnt-sidebar-title
              .row.align-items-center
                h4.col-10 Order Summary
            .tnt-sidebar-content
              .row.tnt-block
                .col-6 Sub Total
                .col-6.text-right {{currency(invoice.subtotal)}}
              .row.tnt-block
                .col-6 Shipping Fee
                .col-6.text-right {{currency(fee())}}
              .row.tnt-block
                .col-6 Tax
                .col-6.text-right {{currency(invoice.tax)}} ({{invoice.tax_percentage}}%)
              .row.tnt-block(v-if="!$_.isEmpty(invoice.couponse_code)")
                .col-6 Coupon 
                  span.text-success {{invoice.couponse_code}}
                .col-6.text-right {{currency(invoice.coupon_price)}}
              .row.tnt-block
                .col-6 Total
                .col-6.text-right.h6.text-danger {{currency(total())}}
              .row.tnt-block
                .col-12
                  button.btn.btn-success.btn-block(type="button", @click="onConfirm", v-if="(!$_.isEmpty(shippingAddress) && shipping.address > -1) && !this.$_.isEmpty(this.shipping.options)") Checkout
</template>
<script>
import { mapGetters } from 'vuex'
import { checkEmail } from '@/js/Utils/Utils'
import Shipping from '@/components/cart/Shipping'
import { currency } from '@/js/Utils/Utils'
import Cart from '@/js/Models/Cart'
import VueStep from 'vue-step'

export default {
  layout: 'no-slider',
  middleware: [
    'authenticated',
    'cartProcess'
  ],
  components: {
    Shipping,
    VueStep
  },
  async fetch({store, params, app, redirect}) {
    const { data } = await app.$axios.get('shipping')
    if(!data.data.invoice) {
      redirect('/cart')
      return
    }
    return store.commit('cart/setShipping', data.data)
  },
  computed: {
    shippingAddress() {
      return this.$store.state.cart.cart.shippingAddress
    },
    rates() {
      return this.$store.state.cart.cart.rates
    },
    invoice() {
      return this.$store.state.cart.cart.invoice
    },
    ...mapGetters({
      user: 'user/getUser'
    })
  },
  data() {
    return {
      title: 'Delivery Option',
      shipping: {
        email: '',
        emailMode: 'view',
        address: this.getAddressDefault(),
        showModal: false,
        showModalError: false,
        options: this.$store.state.cart.cart.rates ? this.$store.state.cart.cart.rates : [],
        selected: this.getShippingSelected()
      },
      stepOptions: {
        nowStep: 1,
        stepList: [
          'Shipping Options',
          'Payment',
          'Finish'
        ],
        styleType: 'style2'
      },
      validateError: {
        cartCheck: ''
      },
      cart: new Cart(this)
    }
  },
  methods: {
    getAddressDefault() {
      const shippingAddress = this.$store.state.cart.cart.shippingAddress
      const invoice = this.$store.state.cart.cart.invoice

      if(!this.$_.isEmpty(invoice.delivery_address_id)) {
        return this.$_.findIndex(shippingAddress, item => item.id === invoice.delivery_address_id)
      }

      if(this.$_.isEmpty(shippingAddress)) {
        return -1
      } else {
        return this.$_.findIndex(shippingAddress, item => item.default_f)
      }
    },
    getShippingSelected() {
      const rates = this.$store.state.cart.cart.rates
      const invoice = this.$store.state.cart.cart.invoice
      if(this.$_.isEmpty(rates) || this.$_.isEmpty(invoice)) {
        return null
      }

      if(this.$_.isEmpty(rates[0]) || this.$_.isEmpty(rates[0].options[0])) {
        return null
      }

      return {
        id: invoice.carrier === -1 ? rates[0].id : invoice.carrier,
        rate: this.$_.isEmpty(invoice.rate_id) ? rates[0].options[0].id : invoice.rate_id,
        shipmentId: this.$_.isEmpty(invoice.shipping_id) ? rates[0].options[0].shipmentId : invoice.shipping_id
      }
    },
    fee() {
      if(this.$_.isEmpty(this.shipping.options)) {
        return 0
      }
      const carrierIndex = this.$_.findIndex(this.shipping.options, item => item.id === this.shipping.selected.id)
      const optionsIndex = this.$_.findIndex(this.shipping.options[carrierIndex].options, item => item.id === this.shipping.selected.rate)
      if(carrierIndex === -1 || optionsIndex === -1) {
        return 0
      }
      return this.shipping.options[carrierIndex].options[optionsIndex].rate
    },
    total() {
      return this.invoice.total + this.fee()
    },
    saveEmailShipping() {
      if(checkEmail(this.shipping.email) || !this.shipping.email) {
        this.shipping.emailMode = 'view'
      } else {
        this.shipping.email = ''
        this.$notify({
          title: 'Notification',
          text: 'The email you entered is invalid',
          type: 'error'
        })
      }
    },
    async onChangeAddress(id) {
      this.shipping.showModal = false
      const { data } = await this.cart.changeAddress(id)
      this.shipping.options = data ? data : []
      this.shipping.selected = {
        id: this.rates[0].id,
        rate: data ? data[0].options[0].id : '',
        shipmentId: data ? data[0].options[0].shipmentId : ''
      }
    },
    async onConfirm() {
      await this.cart.checkShipping({
        idAddress: this.shippingAddress[this.shipping.address].id,
        idRate: this.shipping.selected.rate,
        idShipment: this.shipping.selected.shipmentId,
        email: this.shipping.email,
        carrier: this.shipping.selected.id,
        idInvoice: this.invoice.id
      }).then(res => {
        this.$store.commit('cart/setStep', 3)
        this.$router.push('/cart/payment')
      }).catch(err => {
        if(err.status === 400) {
          this.validateError.cartCheck = err.data.messages.join('\n')
          this.shipping.showModalError = true
        }
      })
    },
    currency(num) {
      return currency(num)
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../scss/modules/colors";
  @import "../../scss/modules/input";
  @import "../../scss/modules/button";
  @import "../../scss/modules/product";

  // Partials
  @import "../../scss/partials/sidebar";
  @import "../../scss/pages/cart/shipping";
</style>
