<template lang="pug">
  .table-responsive
    table.table
      tbody
        tr(v-for="item,i in data", :key="`${item.id}_${item.size}_${item.color}`")
          td
            nuxt-link(:to="`/products/${slugify(item.name)}/${item.id}`")
              img(v-lazy="item.thumbnail", width="70")
          td
            p.mb-2
              nuxt-link(:to="`/products/${slugify(item.name)}/${item.id}`") {{item.name}}
            p.d-flex.align-items-center
              b-button.mr-2(size="sm", variant="dark", v-if="!$_.isNil(item.size)", disabled) {{item.size}}
              span.tnt-color.mr-2(:style="`background-color: ${item.color};`", v-if="!$_.isNil(item.color)")
              span(v-if="!$_.isNil(item.color)") {{item.colorName}}
          td Quantity: {{item.quantity}}
          td {{currency(item.price)}}
</template>
<script>
import { currency } from '@/js/Utils/Utils'
import { slugifyConvert as slugify } from '@/js/Utils/Utils'

export default {
  props: {
    data: {
      type: Array,
      required: true
    }
  },
  methods: {
    currency(num) {
      return currency(num)
    },
    slugify(str) {
      return slugify(str)
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../scss/modules/colors";

  // Styles
  .table {
    margin-bottom: 0;
  }

  .tnt-color {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid $color-eeeeee;
    border-radius: 50%;
  }
</style>
