<template lang="pug">
  .tnt-order
    .row(v-if="$_.isEmpty(data)")
      .col-12.text-center No order yet.
    .tnt-order-item(v-for="item,i in data", v-else, :key="item.id")
      .tnt-order-title(@click="onRedirect(item.id)")
        .row
          .col-6
            p Order 
              nuxt-link.text-primary(:to="`/order/${item.id}`") \#{{item.id}}
            p Placed on {{item.create_date}}
          .col-6.text-right
            p(v-if="item.delivered_date") Delivered {{item.delivered_date}}
            span
              a.text-primary.tnt-order-viewDetail(href="javascript:void(0)", @click="onRedirect(item.id)") View Detail
            span.badge.badge-pill.tnt-order-status(:class="status[item.easypost_code]") {{item.easypost_status}}
      MyOrdersItemProducts(:data="item.products")
      .col-12.text-center.tnt-order-more(v-if="item.next")
        a(href="javascript:void(0)", @click="onLoadMore(i)") Load more 
          i.fa.fa-angle-double-down
</template>
<script>
import MyOrdersItemProducts from '@/components/profile/MyOrdersItemProducts'

export default {
  props: {
    data: {
      type: Array,
      required: true
    }
  },
  components: {
    MyOrdersItemProducts
  },
  data() {
    return {
      status: {
        pre_transit: 'badge-primary',
        in_transit: 'badge-secondary',
        out_for_delivery: 'badge-warning',
        delivered: 'badge-success'
      }
    }
  },
  methods: {
    async onLoadMore(i) {
      const { data } = await this.$axios.get(`allorder/${this.data[i].id}?page=${++this.data[i].page}`)
      this.data[i].products = [...this.data[i].products, ...data.data.products]
      this.data[i].next = data.data.next
    },
    onRedirect(id) {
      this.$router.push(`/order/${id}`)
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../scss/modules/colors";
  @import "../../scss/modules/input";
  @import "../../scss/modules/button";
  @import "../../scss/modules/tabs";

  // Styles
  .tnt-order {
    margin-bottom: 30px;
  }

  .tnt-order-item {
    border: 1px solid $color-eaeaea;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .tnt-order-status {
    padding: 4px 8px;
  }

  .tnt-order-title {
    padding: 10px;
    background-color: $color-eaeaea;
    cursor: pointer;
  }

  .tnt-order-more {
    padding: 20px 0;
  }

  .tnt-order-viewDetail {
    margin-right: 20px;
  }
</style>
