<template lang="pug">
  .row
    .col-md-3.col-12
      .tnt-content-sidebar
        ul.tnt-list
          li.tnt-list-item(v-for="item,i in tabs", :class="item.name === tmpValue.name ? 'is-active' : ''", @click="tabSelect(item)", v-if="checkPermission(item.auth) && !item.hidden") {{item.title}}
    .col-md-9.col-12
      .tnt-content-body
        keep-alive
          component(:is="tmpValue.component", v-model="tmpValue", @change="onChangeTab")
</template>
<script>
import MyProfile from './tabs/MyProfile'
import ChangePassword from './tabs/ChangePassword'
import AddressBook from './tabs/AddressBook'
import Vouchers from './tabs/Vouchers'
import MyOrders from './tabs/MyOrders'
import MyReviews from './tabs/MyReviews'
import NotYetRated from './tabs/NotYetRated'
import MyWishList from './tabs/MyWishList'
import ViewHistory from './tabs/ViewHistory'

export default {
  props: {
    tabs: {
      type: Array,
      required: true,
      default: () => {
        return []
      }
    },
    value: {
      type: Object,
      required: true,
      default: () => {
        return {
          name: 'my-profile',
          component: 'MyProfile'
        }
      }
    }
  },
  components: {
    MyProfile, ChangePassword, AddressBook,
    Vouchers, MyOrders, MyReviews, NotYetRated,
    MyWishList, ViewHistory
  },
  data() {
    return {
      tmpValue: this.value
    }
  },
  methods: {
    tabSelect(item) {
      const { name, component } = item
      this.$router.push(`/profile/${name}`)
    },
    onChangeTab(val) {
      this.tmpValue = val
      this.$emit('change', this.tmpValue)
    },
    checkPermission(isPermit) {
      if(isPermit) {
        return this.$store.state.auth ? true : false
      } else {
        return true
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../scss/modules/colors";
  @import "../../scss/modules/list";
  @import "../../scss/modules/tabs";

  // Partials
  @import "../../scss/partials/sidebar";
</style>
