<template lang="pug">
  div
    b-breadcrumb(:items="breadcrumbs")
    .row
      .col-md-3.col-12
        .tnt-content-sidebar.tnt-padding-20(:class="sideBar ? 'is-open' : ''")
          .tnt-sidebar-title
            .row.align-items-center
              h4.col-10 SHOP BY
              a.col-2.tnt-sidebar-close.d-block.d-sm-none(href="javascript:void(0)", @click="sideBar = false") &times;
          .mb-4
            .tnt-block-title
              h5 Price
            .tnt-block-body
              .tnt-range-mb.d-sm-none.d-block
                .row
                  .col-6
                    b-form-input(type="number", placeholder="Min", :value="range.value[0]", @input="updatePriceMin")
                  .col-6
                    b-form-input(type="number", placeholder="Max", :value="range.value[1]", @input="updatePriceMax")
              .tnt-range.d-sm-block.d-none
                vue-slider.d-none.d-sm-block(
                  v-model="range.value",
                  v-bind="range.options"
                )
              button.tnt-btn-filter(type="button", @click="onConditionChange") Filter
          .block.d-sm-none.d-block.mb-4
            .tnt-toolbar-select
              label Sort by
              .tnt-toolbar-option
                select(name="sortBy", v-model="toolbar.sortBy", @change="onConditionChange")
                  option(value="") Popularity
                  option(value="price_discount:asc") Price low to high
                  option(value="price_discount:desc") Price high to low
            .tnt-toolbar-select
              label Show
              .tnt-toolbar-option
                select(name="onePerPage", v-model="toolbar.onePerPage", @change="onConditionChange")
                  option(value="20") 20
                  option(value="50") 50
                  option(value="100") 100
          .tnt-sidebar-title
            .row.align-items-center
              h4.col-12 Categories
          .tnt-sidebar-category
            .tnt-sidebar-category-parent
              h5
                nuxt-link(:to="`/categories/${slugify($store.state.category.category.categories.name)}/${$store.state.category.category.categories.id}`") {{$store.state.category.category.categories.name}}
            ul.tnt-sidebar-category-child(v-if="!$_.isEmpty($store.state.category.category.categories.childs)")
              li.tnt-sidebar-category-item(v-for="item, i in $store.state.category.category.categories.childs")
                nuxt-link(:to="`/categories/${slugify(item.name)}/${item.id}`", :class="item.active ? 'is-active': ''") {{item.name}}
                ul.tnt-sidebar-category-child(v-if="!$_.isEmpty(item.childs)")
                  li.tnt-sidebar-category-item(v-for="itemChild, j in item.childs")
                    nuxt-link(:to="`/categories/${slugify(itemChild.name)}/${itemChild.id}`", :class="itemChild.active ? 'is-active': ''") {{itemChild.name}}
        .tnt-block
          a(:href="ads.url")
            b-img(fluid, :src="ads.img", alt="")
      .col-md-9.col-12
        .tnt-content-body
          .tnt-toolbar
            .row
              .col-md-3.col-6
                span Grid view: 
                a.tnt-toolbar-icon.d-inline-block(href="javascript:void(0)", @click="cols = 2", :class="cols === 2 ? 'is-active' : ''")
                  | 2
                a.tnt-toolbar-icon.d-none.d-md-inline-block(href="javascript:void(0)", @click="cols = 3", :class="cols === 3 ? 'is-active' : ''")
                  | 3
                a.tnt-toolbar-icon.d-none.d-lg-inline-block(href="javascript:void(0)", @click="cols = 4", :class="cols === 4 ? 'is-active' : ''")
                  | 4
              .col-md-9.col-6.text-right.d-sm-none.d-block
                span.tnt-amount-mb.d-sm-none.d-inline-block {{$store.state.category.paging.total}} item(s)
                a.tnt-toolbar-icon.is-active(href="javascript:void(0)", title="Filter", @click="sideBar = true")
                  i.fa.fa-filter.fa-spin
              .col-md-9.col-9.text-left.text-sm-right.d-sm-block.d-none
                .tnt-toolbar-select
                  label Sort by
                  .tnt-toolbar-option
                    select(name="sortBy", v-model="toolbar.sortBy", @change="onConditionChange")
                      option(value="") Popularity
                      option(value="price_discount:asc") Price low to high
                      option(value="price_discount:desc") Price high to low
                .tnt-toolbar-select
                  label Show
                  .tnt-toolbar-option
                    select(name="onePerPage", v-model="toolbar.onePerPage", @change="onConditionChange")
                      option(value="20") 20
                      option(value="50") 50
                      option(value="100") 100
          Pagination(v-model="pagination", :totalPage="totalPage", @change="paging")
          .tnt-product
            .row
              .col-md-12(v-if="products.length > 0")
                GridProduct(:list="products", :cols="cols")
              .col-12.text-center(v-else) No products to display
          Pagination(v-model="pagination", :totalPage="totalPage", @change="paging")
</template>
<script>
import vueSlider from 'vue-slider-component'
import GridProduct from '@/components/products/Grid'
import Pagination from '@/components/Pagination'
import { slugifyConvert as slugify } from '@/js/Utils/Utils'

export default {
  layout: 'no-slider',
  components: {
    vueSlider,
    GridProduct,
    Pagination
  },
  data() {
    return {
      title: this.$store.state.category.name,
      breadcrumbs: [{
        text: 'Home',
        to: '/'
      }, {
        text: 'Categories',
        to: '/categories'
      }],
      sideBar: false,
      range: {
        value: this.$store.state.category.rangePrice,
        options: {
          min: 0,
          max: this.$store.state.category.priceMax,
          formatter: '${value}',
          tooltipStyle: {
            backgroundColor: '#e34444',
            borderColor: '#e34444'
          },
          processStyle: {
            backgroundColor: '#e34444'
          },
          interval: Math.ceil(this.$store.state.category.priceMax / 100)
          // tooltip: false
        }
      },
      toolbar: {
        sortBy: this.$route.query.sortBy ? this.$route.query.sortBy : '',
        onePerPage: this.$route.query.onePerPage ? parseInt(this.$route.query.onePerPage) : 20
      },
      pagination: {
        total: this.$store.state.category.paging.total,
        display: 5,
        currentPage: this.$route.query.page ? parseInt(this.$route.query.page) : 1
      },
      cols: 4
    }
  },
  async fetch({ store, params, app, route }) {
    const subCategories = await app.$axios.get(`subcategories/${params.id}`)
    store.commit('category/addSubCategory', subCategories.data.data)
    const { data } = await app.$axios.get(`categories/${route.params.id}`, {
      params: route.query
    })
    return store.commit('category/addData', data.data)
  },
  created() {
    this.createBreadcrumb(this.$store.state.category.category.breadcrumb)
  },
  computed: {
    totalPage() {
      return Math.ceil(this.$store.state.category.paging.total / this.toolbar.onePerPage)
    },
    products() {
      return this.$store.state.category.products
    },
    ads() {
      return this.$_.isEmpty(this.$store.state.category.ads) ? {} : this.$store.state.category.ads[0]
    }
  },
  methods: {
    async onConditionChange() {
      const { data } = await this.$axios.get(`/categories/${this.$route.params.id}?${this.genPath()}`)
      this.$router.replace(`${this.$route.path}?${this.genPath()}`)
      this.sideBar = false
      this.pagination.total = data.data.paging.total
      this.$store.commit('category/addData', data.data)
    },
    createBreadcrumb(breadcrumb) {
      if(!this.$_.isEmpty(breadcrumb.child)) {
        this.breadcrumbs.push({
          text: breadcrumb.name,
          to: `/categories/${this.slugify(breadcrumb.name)}/${breadcrumb.id}`
        })
        this.createBreadcrumb(breadcrumb.child)
      } else {
        this.breadcrumbs.push({
          text: breadcrumb.name,
          active: true
        })
      }
      return breadcrumb
    },
    paging(i) {
      this.pagination.currentPage = i
      this.onConditionChange()
    },
    genPath() {
      const condition = {
        page: this.pagination.currentPage,
        sortBy: this.toolbar.sortBy,
        onePerPage: this.toolbar.onePerPage,
        condition: `priceMin:${this.range.value[0]},priceMax:${this.range.value[1]}`
      }
      const params = Object.entries(condition).map(([key, val]) => `${val ? `${key}=${val}` : ''}`).join('&')
      return params
    },
    updatePriceMin(e) {
      this.range.value[0] = e
    },
    updatePriceMax(e) {
      this.range.value[1] = e
    },
    slugify(str) {
      return slugify(str)
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../../scss/modules/colors";
  @import "../../../scss/modules/product";
  @import "../../../scss/modules/pagination";
  @import "../../../scss/modules/input";

  // Partials
  @import "../../../scss/partials/sidebar";
  @import "../../../scss/pages/categories/id";
</style>
