.tnt-contact-list {
  font-size: 12px;

  ul {
    li {
      margin-bottom: 8px;
      color: #666;
      min-height: 34px;
      display: flex;
      align-items: center;
    }

    a {
      color: #666;

      &:hover {
        color: $color-e34444;
        text-decoration: none;
      }
    }

    p {
      line-height: 21px;
    }
  }
}