.tnt-content {
  padding: 35px 0;
}

.card-title {
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-footer {
  text-align: center;
}

.tnt-btn-more {
  text-align: center;

  button {
    font-size: 12px;
    color: $color-666666;
    border: 1px solid $color-eaeaea;
    background-color: $color-ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 11px 73px 9px;
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: $color-e34444;
      border: 1px solid $color-e34444;
      color: $color-ffffff;
    }
  }
}

.tnt-keyword-badge {
  margin: 5px;
  font-size: 9px;
}

.swiper-button-prev {
  outline: 0;
}

.swiper-button-next {
  outline: 0;
}
