.tnt-body {
  background: $color-ba5370; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $color-ba5370, $color-f4e2d8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $color-ba5370, $color-f4e2d8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  padding-top: 100px;
  padding-bottom: 20px;
  overflow: auto;
}

.tnt-login-form {
  padding: 35px;
}

.tnt-input-group {

  input[type="text"], input[type="password"] {
    width: 100%;
    outline: 0;
    border-radius: 5px;
    padding: 15px 10px;
    border: 1px solid $color-dddddd;
    background-color: $color-eeeeee;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  .col-12:not(:last-child) {
    margin-bottom: 10px;
  }

  span {
    font-size: 10px;
  }
}

.tnt-input-checbox {

  input[type="checkbox"] {
    margin-right: 5px;
  }

  label {
    display: inline;
    cursor: pointer;
  }
}

.tnt-input-select {
  padding: 13px 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid $color-dddddd;
  background-color: $color-eeeeee;

  select {
    width: 100%;
    border: none;
    outline: 0;
    background-color: transparent;
  }
}

.tnt-login-btn {
  font-size: 14px;
  height: calc(2.875rem + 2px);

  &-fb {
    background-color: $color-4267b2;
    color: $color-ffffff;
    border-color: $color-4267b2;

    &:hover {
      background-color: $color-29487d;
      border-color: $color-29487d;
    }
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.tnt-login-logo {
  text-align: center;
  margin-bottom: 20px;
}

.tnt-login-or {
  padding: 10px 0 0;
}

.tnt-gcaptcha > div {
  display: inline-block;
}

@media (max-width: 575.98px) {
  .tnt-login-form {
    padding: 35px 0;
  }
}

@media (min-width: 576px) {
  .tnt-input-group {
    &>div {
      margin-bottom: 0 !important;
    }
  }
}