.tnt-body {
  background: #aa4b6b;
  background: -webkit-linear-gradient(to left, #6b6b83, #3b8d99);
  background: linear-gradient(to left, #6b6b83, #3b8d99);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  padding-top: 130px;
  padding-bottom: 20px;
  overflow: auto;
}

.tnt-maintenance {
  position: relative;
  z-index: 0;
  color: $color-ffffff;
}

.tnt-maintenance-message {
  font-size: 60px;
  font-weight: bold;
  color: $color-ffffff;
}

.tnt-maintenance-subMessage {
  margin-bottom: 50px;
}

.tnt-maintenance-time {
  display: flex;
  justify-content: center;
}

.tnt-maintenance-circle {
  border: 1px solid $color-ffffff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 30px;
}

.tnt-maintenance-timeNumber {
  font-weight: bold;
  font-size: 30px;
}