<template lang="pug">
  .row
    GridItem(v-for="item,i in list", :key="item.id", :value="item", :cols="cols")
</template>
<script>
import GridItem from '@/components/products/GridItem'

export default {
  props: [
    'list',
    'cols'
  ],
  components: {
    GridItem
  }
}
</script>
<style lang="scss" scoped>

</style>
