<template lang="pug">
  .row
    b-modal#modalShipAddress(size="lg", :title="modalMode === 'add' ? 'Add new address' : 'Update address'", centered, v-model="modal")
      form
        .form-row
          .form-group.col-md-6
            label.col-form-label(for="full_name") Full Name
              span.text-danger  (*)
            input.form-control(v-validate="'required'", type="text", name="full_name", id="full_name", v-model="form.full_name", :class="validate('full_name') ? 'is-invalid' : ''")
            .invalid-feedback {{validate('full_name')}}
          .form-group.col-md-6
            label.col-form-label(for="address") Address
              span.text-danger  (*)
            input.form-control(v-validate="'required'", type="text", name="address", id="address", v-model="form.address", :class="validate('address') ? 'is-invalid' : ''")
            .invalid-feedback {{validate('address')}}
        .form-row
          .form-group.col-md-6
            label.col-form-label(for="phone") Phone
              span.text-danger  (*)
            input.form-control(v-validate="'required'", type="text", name="phone", id="phone", v-mask="'###-###-####'", v-model="form.phone", :class="validate('phone') ? 'is-invalid' : ''")
            .invalid-feedback {{validate('phone')}}
          .form-group.col-md-6
            label.col-form-label(for="domain_network") Carrier
              span.text-danger  (*)
            select.form-control(v-validate="'required'", name="domain_network", v-model="form.domain_network", :class="validate('domain_network') ? 'is-invalid' : ''")
              option(value="") ---Provider---
              option(:value="item.domain_network", v-for="item in dataNetwork") {{item.name_network}}
            .invalid-feedback {{validate('domain_network')}}
        .form-row
          .form-group.col-md-6
            label.col-form-label(for="state") State
              span.text-danger  (*)
            select.form-control(v-validate="'required'", name="state", v-model="form.state", @change="onChangeStateProvice", :class="validate('state') ? 'is-invalid' : ''")
              option(value="") ---Select---
              option(:value="item.code", v-for="item in dataState") {{item.name}}
            .invalid-feedback {{validate('state')}}
          .form-group.col-md-6
            label.col-form-label(for="id_city") City
              span.text-danger  (*)
            select.form-control(v-validate="'required'", name="city", v-model="form.id_city", :class="validate('id_city') ? 'is-invalid' : ''")
              option(value="") ---Select---
              option(:value="item.id", v-for="item in dataCity") {{item.name}}
            .invalid-feedback {{validate('id_city')}}
        .form-row
          .form-group.col-md-6
            label.col-form-label(for="zipcode") ZipCode
              span.text-danger  (*)
            input.form-control(v-validate="'required'", type="text", name="zipcode" id="zipcode", v-model="form.zipcode", :class="validate('zipcode') ? 'is-invalid' : ''")
            .invalid-feedback {{validate('zipcode')}}
        b-form-checkbox.tnt-input-checbox(value="true", v-model="form.default_f") Set as default shipping address
      div(slot="modal-footer")
        button.btn.btn-success(type="button", @click="onAddAddress", :disabled="!this.$_.isEmpty(errors.items)") {{modalMode === 'add' ? 'Add' : 'Update'}}
    .col-12
      .tnt-tab-title
        .row
          .col-7
            h4 Address Book
          .col-5.text-right
            a(href="javascript:void(0)", @click="mode = 'default'", v-if="mode === 'detail'") Make default
            a(href="javascript:void(0)", @click="mode = 'detail'", v-else) Cancel
    .col-12
      .table-responsive
        table.table
          thead.thead-dark
            tr
              th Full Name
              th Address
              th PostCode
              th Phone Number
              th
              th
          tbody(v-if="!$_.isEmpty(shippingAddress) && defaultAddress > -1")
            tr(v-for="item,i in shippingAddress", :key="item.id")
              td.align-middle {{item.full_name}}
              td.align-middle {{item.address}}
              td.align-middle {{item.name_city}}
              td.align-middle {{item.phone}}
              td.align-middle {{item.default_f ? 'Default' : ''}}
              td.align-middle(v-if="mode === 'detail'")
                button.btn.btn-link.text-success(v-if="item.id !== 'X'", @click="onOpenModalUpdate(item.id)")
                  i.fa.fa-edit
                button.btn.btn-link.text-danger(v-if="item.id !== 'X'", @click="onDelAddress(item.id)")
                  i.fa.fa-trash
              td.align-middle.form-check.form-check-inline(v-else)
                input.form-check-input(type="radio", :value="i", v-model="defaultAddress")
          tbody(v-else)
            tr
              td.text-center(colspan="6") No major addresses have been added yet
      button.btn.btn-success(type="button", v-if="mode === 'detail'", @click="onOpenModalAdd")
        i.fa.fa-plus
        |  Add new address
      button.btn.btn-success(type="button", v-if="mode === 'default'", @click="onSetDefault") Save
</template>
<script>
export default {
  data() {
    return {
      mode: 'detail', // default
      modalMode: 'add', // edit
      shippingAddress: [],
      defaultAddress: -1,
      modal: false,
      form: {
        full_name: '',
        address: '',
        zipcode: '',
        phone: '',
        domain_network: '',
        state: '',
        id_city: '',
        default_f: true
      },
      dataCity: [],
      validateError: {}
    }
  },
  computed: {
    dataNetwork() {
      return this.$store.state.register.network
    },
    dataState() {
      return this.$store.state.constant.state
    },
  },
  async mounted() {
    if(this.$_.isEmpty(this.dataNetwork)) {
      const fieldsCarrier = ['domain_network', 'name_network']
      const carrier = await this.$axios.get(`/carrier?fields=${fieldsCarrier.join(',')}`)
      this.$store.commit('register/add', carrier.data.data)
    }

    if(this.$_.isEmpty(this.dataState)) {
      const state = await this.$axios.get('state')
      this.$store.commit('constant/addState', state.data.data)
    }

    const { data } = await this.$axios.get('cartsdelivery')
    this.shippingAddress = data.data
    this.defaultAddress = this.getAddressDefault()
  },
  methods: {
    getAddressDefault() {
      const shippingAddress = this.shippingAddress
      if(this.$_.isEmpty(shippingAddress)) {
        return -1
      } else {
        return this.$_.findIndex(shippingAddress, item => item.default_f)
      }
    },
    async onChangeStateProvice() {
      const city = await this.$axios.get(`city?stateCode=${this.form.state}`)
      this.form.id_city = ''
      this.dataCity = city.data.data
    },
    onAddAddress() {
      this.validateError = {}
      const { id, full_name, address, zipcode, id_city, state, phone, default_f, domain_network } = this.form

      this.$axios.post('addressbook', {
        id, full_name, address, zipcode, id_city, state, 
        phone: phone.replace(/-/g, ''),
        default_f, domain_network
      }).then(async res => {
        const { data } = await this.$axios.get('cartsdelivery')
        this.shippingAddress = data.data
        this.defaultAddress = this.getAddressDefault()
        this.modal = false
        this.$notify({
          title: 'Notification',
          text: res.data.message,
          type: 'success'
        })
      }).catch(err => {
        const res = err.response
        if(res.status === 400) {
          if(this.$_.isEmpty(res.data.data)) {
            this.$notify({
              title: 'Notification',
              text: res.data.message,
              type: 'error'
            })
          } else {
            this.validateError = res.data.data
          }
        }
      })
    },
    async onDelAddress(id) {
      const delele = await this.$axios.delete(`addressbook?idAddressBook=${id}`)
      const { data } = await this.$axios.get('cartsdelivery')
      this.shippingAddress = data.data
      this.defaultAddress = this.getAddressDefault()
      this.$notify({
        title: 'Notification',
        text: delele.data.message,
        type: 'success'
      })
    },
    onOpenModalAdd() {
      this.modalMode = 'add'
      this.form = {
        id: '',
        full_name: '',
        address: '',
        zipcode: '',
        phone: '',
        domain_network: '',
        state: '',
        id_city: '',
        default_f: true
      }
      this.validateError = {}
      this.$validator.reset()
      this.dataCity = []
      this.modal = true
    },
    async onOpenModalUpdate(id) {
      this.modalMode = 'edit'
      const { data } = await this.$axios.get(`addressbook?idAddressBook=${id}`)
      this.form = data.data
      this.validateError = {}
      this.$validator.reset()
      const city = await this.$axios.get(`city?stateCode=${this.form.state}`)
      this.dataCity = city.data.data
      this.modal = true
    },
    async onSetDefault() {
      if(this.defaultAddress < 0) {
        return
      }
      const id = this.shippingAddress[this.defaultAddress].id
      const setDefault = await this.$axios.put(`addressbookdefault?idAddressBook=${id}`)
      const { data } = await this.$axios.get('cartsdelivery')
      this.shippingAddress = data.data
      this.defaultAddress = this.getAddressDefault()
      this.$notify({
        title: 'Notification',
        text: setDefault.data.message,
        type: 'success'
      })
      this.mode = 'detail'
    },
    validate(fields) {
      if(this.validateError[fields]) {
        return this.validateError[fields]
      }
      
      if(this.errors.has(fields)) {
        return this.errors.first(fields)
      }

      return null
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../../scss/modules/colors";
  @import "../../../scss/modules/input";
  @import "../../../scss/modules/button";
  @import "../../../scss/modules/tabs";

  // Styles
  .tnt-input-checbox {
    font-size: 14px;
  }
</style>
