<template lang="pug">
  .row
    .col-12
      .tnt-tab-title
        h4 Change Password
    .col-12
      .row
        form.col-md-6
          .form-group.row
            label.col-sm-3.col-form-label(for="oldPassword") Old Password
            .col-sm-9
              input#oldPassword.form-control(type="password", v-model="form.oldPassword")
              small.form-text.text-danger {{validateError.oldPassword}}
          .form-group.row
            label.col-sm-3.col-form-label(for="newPassword") New Password
            .col-sm-9
              input#newPassword.form-control(type="password", v-model="form.newPassword")
              small.form-text.text-danger {{validateError.newPassword}}
          .form-group.row
            label.col-sm-3.col-form-label(for="reNewPassword") Confirm New Password
            .col-sm-9
              input#reNewPassword.form-control(type="password", v-model="form.reNewPassword")
              small.form-text.text-danger {{validateError.reNewPassword}}
      .row
        .col-md-6
          .row
            .col-md-3
            .col-md-6
              button.btn.btn-success.btn-block(type="button", @click="onChangePassword") Change Password
            .col-md-3
</template>
<script>
export default {
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      tmpValue: this.value,
      form: {},
      validateError: {}
    }
  },
  methods: {
    onChangePassword() {
      this.validateError = {}
      const { oldPassword, newPassword, reNewPassword } = this.form
      this.$axios.put('changePassword', {
        oldPassword,
        newPassword,
        reNewPassword
      }).then(res => {
        const data = res.data
        if(data.status) {
          this.$notify({
            title: 'Notification',
            text: data.message,
            type: 'success'
          })

          this.form = {}
          this.$router.push('/profile/my-profile')
        } else {
          this.$notify({
            title: 'Notification',
            text: data.message,
            type: 'error'
          })
        }
      }).catch(err => {
        const { status, data } = err.response
        if(status === 400) {
          this.validateError = data.data
        }
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../../scss/modules/colors";
  @import "../../../scss/modules/input";
  @import "../../../scss/modules/button";
  @import "../../../scss/modules/tabs";
</style>
