<template lang="pug">
  .row
    .col-12
      .tnt-tab-title
        h4 My Orders
    .col-12(v-if="!$_.isEmpty(data)")
      MyOrdersItem(:data="data.listOrder")
      .row(v-if="data.next")
        .col-12.text-center
          button.btn-more(type="button", @click="onLoadMore") Load more
</template>
<script>
import MyOrdersItem from '@/components/profile/MyOrdersItem'

export default {
  components: {
    MyOrdersItem
  },
  data() {
    return {
      data: null,
      page: 1
    }
  },
  async mounted() {
    const { data } = await this.$axios.get('allorder')
    this.data = data.data
  },
  methods: {
    async onLoadMore() {
      const { data } = await this.$axios.get(`allorder?page=${++this.page}`)
      this.data.listOrder = [...this.data.listOrder, ...data.data.listOrder]
      this.data.next = data.data.next
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../../scss/modules/colors";
  @import "../../../scss/modules/input";
  @import "../../../scss/modules/button";
  @import "../../../scss/modules/tabs";
</style>
