<template lang="pug">
  .row
    .col-12
      .tnt-tab-title
        .row
          .col-6
            h4 My Reviews
          .col-6.text-right
            a(href="javascript:void(0)", @click="tabSelect('not-yet-rated')") To Be Reviewed
    .col-12.text-center(v-if="$_.isEmpty(data.rates)") No reviews yet.
    .col-12(v-else)
      .card.tnt-block(v-for="item,i in data.rates", :key="item.id")
        .card-header Purchased on {{item.date_create}}
        .card-body
          .row
            .col-sm-2.col-3
              nuxt-link(:to="`/products/${slugify(item.name)}/${item.id}`")
                img.img-fluid(v-lazy="item.thumbnail", :alt="item.name")
            .col-sm-8.col-9
              h6.mt-0
                nuxt-link(:to="`/products/${slugify(item.name)}/${item.id}`") {{item.name}}
              StartRate.tnt-block(:rate="item.star", :size="3")
              .alert.alert-light(role="alert") {{$_.isNil(item.ratings_comment) ? 'No comment' : item.ratings_comment}}
            .col-sm-2.col-12
              nuxt-link.btn.btn-success.btn-block(:to="`/order/review/${item.id}`") Update
      .row(v-if="data.next")
        .col-12.text-center
          button.btn-more(type="button", @click="onLoadMore") Load more
</template>
<script>
import StartRate from '@/components/StarRate'
import { slugifyConvert as slugify } from '@/js/Utils/Utils'

export default {
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  components: {
    StartRate
  },
  data() {
    return {
      tmpValue: this.value,
      data: {}
    }
  },
  async mounted() {
    const { data } = await this.$axios.get('my_reviews_history')
    this.data = data.data
  },
  methods: {
    async onLoadMore() {
      const { data } = await this.$axios.get(`my_reviews_history?page=${++this.data.page}`)
      this.data.rates = [...this.data.rates, ...data.data.rates]
      this.data.next = data.data.next
    },
    tabSelect(component) {
      this.$router.push(`/profile/${component}`)
    },
    slugify(str) {
      return slugify(str)
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../../scss/modules/colors";
  @import "../../../scss/modules/input";
  @import "../../../scss/modules/button";
  @import "../../../scss/modules/tabs";
</style>
