<template lang="pug">
  .row
    .col-12
      .tnt-tab-title
        h4 My Wishlist
    .col-12
      .table-responsive
        table.table
          thead.thead-dark
            tr
              th
              th Product Name
              th Unit Price
              th
          tbody(v-if="!$_.isEmpty(data.products)")
            tr(v-for="item,i in data.products", :key="item.id", :class="item.state === 2 ? 'table-active' : ''")
              td
                nuxt-link(:to="`/products/${slugify(item.name)}/${item.id}`")
                  img(v-lazy="item.thumbnail", width="70")
              td
                nuxt-link.d-block(:to="`/products/${slugify(item.name)}/${item.id}`") {{item.name}}
                small.d-block.mb-2 {{item.quick_orverview}}
                button.btn.btn-light(type="button", @click="remove(i)")
                  i.fa.fa-trash.text-danger
              td.align-middle
                p.tnt-productItem-disCount {{currency(getPrice(item))}}
                p.tnt-productItem-rootPrice(v-if="!$_.isNil(item.price_history)") {{currency(item.price_history)}}
                p.text-success(v-if="getPrice(item) < item.price_history")
                  i.fa.fa-arrow-down
                  |  Price dropped
                p.text-danger(v-if="getPrice(item) > item.price_history")
                  i.fa.fa-arrow-up
                  |  Price increased
              td.text-right.align-middle
                button.btn.btn-success.btn-block(type="button", @click="addToCart(item.id, item.size, item.color)", v-if="item.state < 2")
                  i.fa.fa-cart-plus
                button.btn.btn-danger.btn-block(type="button", disabled, v-else)
                  i.fa.fa-ban
          tbody(v-else)
            tr
              td.text-center(colspan="4") There are no favorite products
      .row(v-if="data.next")
        .col-12.text-center
          button.btn-more(type="button", @click="onLoadMore") Load more
</template>
<script>
import { currency } from '@/js/Utils/Utils'
import Cart from '@/js/Models/Cart'
import Product from '@/js/Models/Product'
import { slugifyConvert as slugify } from '@/js/Utils/Utils'

export default {
  data() {
    return {
      data: {},
      cart: new Cart(this),
      product: new Product(this)
    }
  },
  async mounted() {
    const { data } = await this.$axios.get('wishlist')
    this.data = data.data
  },
  methods: {
    async onLoadMore() {
      const { data } = await this.$axios.get(`wishlist?page=${++this.data.page}`)
      this.data.products = this.$_.unionBy(this.data.products, data.data.products, 'id')
      this.data.next = data.data.next
    },
    async remove(i) {
      // Remove current record
      const res = await this.product.removeFavorite(this.data.products[i].id)

      // Refresh next record
      const { data } = await this.$axios.get(`wishlist?page=${this.data.page}`)
      this.data.products = this.$_.unionBy(this.data.products, data.data.products, 'id')
      this.data.next = data.data.next

      // Update data
      this.data.products.splice(i, 1)
      this.$notify({
        title: 'Notification',
        text: res.message,
        type: 'success'
      })
    },
    async addToCart(id, size, color) {
      if(!this.$store.state.auth) {
        this.$router.push('/login')
        return
      }
      await this.cart.add(id, size, color, 1)
    },
    getPrice(item) {
      return !this.$_.isNil(item.price_discount) ? item.price_discount : item.price
    },
    currency(num) {
      return currency(num)
    },
    slugify(str) {
      return slugify(str)
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../../scss/modules/colors";
  @import "../../../scss/modules/input";
  @import "../../../scss/modules/button";
  @import "../../../scss/modules/tabs";

  //Style
  .tnt-productItem-disCount {
    color: $color-f57224;
    font-size: 16px;
  }

  .tnt-productItem-rootPrice {
    font-size: 12px;
    text-decoration: line-through;
  }
</style>
