<template lang="pug">
  div
    .row
      .col-12
        .tnt-tab-title
          .row
            .col-6
              h4 To Be Reviewed
            .col-6.text-right
              a(href="javascript:void(0)", @click="tabSelect('my-reviews')") My Reviews
    .row.tnt-block
      .col-12.text-center(v-if="$_.isEmpty(data.products)") No reviews yet.
      .col-sm-6.col-12.tnt-block(v-for="item,i in data.products", :key="item.id", v-else)
        .card.tnt-block
          .card-header Purchased on {{item.create_date}}
          .card-body
            .row
              .col-sm-3.col-4
                nuxt-link(:to="`/products/${slugify(item.name)}/${item.id}`")
                  img.img-fluid(v-lazy="item.thumbnail", :alt="item.name")
              .col-sm-9.col-8
                h6.mt-0
                  nuxt-link(:to="`/products/${slugify(item.name)}/${item.id}`") {{item.name}}
                p {{item.quick_orverview}}
                p.h6.text-danger {{currency(item.price)}}
                .text-right
                  nuxt-link.btn.btn-success(:to="`/order/review/${item.id}`") Review
    .row.tnt-block(v-if="data.next")
      .col-12.text-center
        button.btn-more(type="button", @click="onLoadMore") Load more
</template>
<script>
import { currency } from '@/js/Utils/Utils'
import { slugifyConvert as slugify } from '@/js/Utils/Utils'

export default {
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      tmpValue: this.value,
      data: {}
    }
  },
  async mounted() {
    const { data } = await this.$axios.get('product_not_yet_review')
    this.data = data.data
  },
  methods: {
    async onLoadMore() {
      const { data } = await this.$axios.get(`product_not_yet_review?page=${++this.data.page}`)
      this.data.products = [...this.data.products, ...data.data.products]
      this.data.next = data.data.next
    },
    tabSelect(component) {
      this.$router.push(`/profile/${component}`)
    },
    currency(num) {
      return currency(num)
    },
    slugify(str) {
      return slugify(str)
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../../scss/modules/colors";
  @import "../../../scss/modules/input";
  @import "../../../scss/modules/button";
  @import "../../../scss/modules/tabs";
</style>
