<template lang="pug">
  .row
    .col-12
      .tnt-tab-title
        .row
          .col-6
            h4 Viewed
          .col-6.text-right
            a(href="javascript:void(0)", @click="removeAll") Delete All History
    .col-12
      .table-responsive
        table.table
          thead.thead-dark
            tr
              th
              th Product Name
              th Unit Price
              th
          tbody(v-if="!$_.isEmpty(data.products)")
            tr(v-for="item,i in data.products", :key="item.id", :class="item.state === 2 ? 'table-active' : ''")
              td
                nuxt-link(:to="`/products/${slugify(item.name)}/${item.id}`")
                  img(v-lazy="item.thumbnail", width="70")
              td
                nuxt-link.d-block(:to="`/products/${slugify(item.name)}/${item.id}`") {{item.name}}
                small.d-block.mb-2 {{item.quick_orverview}}
                button.btn.btn-light(type="button", @click="remove(i)")
                  i.fa.fa-trash.text-danger
              td.align-middle
                p.tnt-productItem-disCount {{currency(getPrice(item))}}
                p.tnt-productItem-rootPrice(v-if="!$_.isNil(item.price_history)") {{currency(item.price_history)}}
                p.text-success(v-if="getPrice(item) < item.price_history")
                  i.fa.fa-arrow-down
                  |  Price dropped
                p.text-danger(v-if="getPrice(item) > item.price_history")
                  i.fa.fa-arrow-up
                  |  Price increased
              td.text-right.align-middle
                button.btn.btn-success.btn-block(type="button", @click="addToCart(item.id, item.size, item.color)", v-if="item.state < 2")
                  i.fa.fa-cart-plus
                button.btn.btn-danger.btn-block(type="button", disabled, v-else)
                  i.fa.fa-ban
          tbody(v-else)
            tr
              td.text-center(colspan="4") There are no products
      .row(v-if="!$_.isEmpty(data.products) && data.next")
        .col-12.text-center
          button.btn-more(type="button", @click="onLoadMore") Load more
</template>
<script>
import { currency } from '@/js/Utils/Utils'
import Cart from '@/js/Models/Cart'
import Product from '@/js/Models/Product'
import { slugifyConvert as slugify } from '@/js/Utils/Utils'

export default {
  data() {
    return {
      data: {},
      cart: new Cart(this),
      product: new Product(this),
      auth: this.$store.state.auth,
      viewHistoryStorage: JSON.parse(localStorage.getItem('view_history')) ? JSON.parse(localStorage.getItem('view_history')) : [],
      pageTmp: 0
    }
  },
  async mounted() {
    if(this.$_.isNil(this.auth)) {
      const { data } = await this.$axios.get('myviewhistorynologin', {
        params: {
          idList: this.pagingNotAuth(this.pageTmp)
        }
      })
      this.data = data.data
      this.updateNextPageNotAuth(this.pageTmp)
    } else {
      const { data } = await this.$axios.get('myviewhistory')
      this.data = data.data
    }
  },
  methods: {
    async onLoadMore() {
      if(this.$_.isNil(this.auth)) {
        const { data } = await this.$axios.get('myviewhistorynologin',
          {
            params: {
              idList: this.pagingNotAuth(this.pageTmp + 1)
            }
          }
        )
        ++this.pageTmp
        this.data.products = this.$_.unionBy(this.data.products, data.data.products, 'id')
        this.updateNextPageNotAuth()
      } else {
        const { data } = await this.$axios.get(`myviewhistory?page=${++this.data.page}`)
        this.data.products = this.$_.unionBy(this.data.products, data.data.products, 'id')
        this.data.next = data.data.next
      }
    },
    async remove(i) {
      if(this.$_.isNil(this.auth)) {
        // Refresh next record
        const { data } = await this.$axios.get('myviewhistorynologin', {
          params: {
            idList: this.pagingNotAuth(this.pageTmp)
          }
        })
        this.data.products = this.$_.unionBy(this.data.products, data.data.products, 'id')
        this.updateNextPageNotAuth()

        // Update data
        this.viewHistoryStorage.splice(i, 1)
        localStorage.setItem('view_history', JSON.stringify(this.viewHistoryStorage))
        this.data.products.splice(i, 1)
        this.$notify({
          title: 'Notification',
          text: 'Remove successfully.',
          type: 'success'
        })
      } else {
        // Remove current record
        const res = await this.product.removeViewHistory(this.data.products[i].id)

        // Refresh next record
        const { data } = await this.$axios.get(`myviewhistory?page=${this.data.page}`)
        this.data.products = this.$_.unionBy(this.data.products, data.data.products, 'id')
        this.data.next = data.data.next

        // Update data
        this.data.products.splice(i, 1)
        this.$notify({
          title: 'Notification',
          text: res.message,
          type: 'success'
        })
      }
      this.$forceUpdate()
    },
    async removeAll(i) {
      if(this.$_.isNil(this.auth)) {
        // Remove all record
        this.viewHistoryStorage = []
        localStorage.setItem('view_history', JSON.stringify(this.viewHistoryStorage))

        // Update data
        this.data.products = []
        this.$notify({
          title: 'Notification',
          text: 'Remove successfully.',
          type: 'success'
        })
      } else {
        // Remove all record
        const res = await this.product.removeAllViewHistory()

        // Update data
        this.data.products = []
        this.$notify({
          title: 'Notification',
          text: res.message,
          type: 'success'
        })
      }
    },
    async addToCart(id, size, color) {
      if(!this.$store.state.auth) {
        this.$router.push('/login')
        return
      }
      await this.cart.add(id, size, color, 1)
    },
    getPrice(item) {
      return !this.$_.isNil(item.price_discount) ? item.price_discount : item.price
    },
    currency(num) {
      return currency(num)
    },
    slugify(str) {
      return slugify(str)
    },
    pagingNotAuth(page) {
      const start = page * 5
      const end = start + 5
      const idList = this.viewHistoryStorage.map(item => item.id)
      return this.$_.slice(idList, start, end).join(',')
    },
    updateNextPageNotAuth() {
      const start = this.pageTmp * 5
      const end = start + 5
      this.data.next = end < this.viewHistoryStorage.length ? true : false
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../../scss/modules/colors";
  @import "../../../scss/modules/input";
  @import "../../../scss/modules/button";
  @import "../../../scss/modules/tabs";

  //Style
  .tnt-productItem-disCount {
    color: $color-f57224;
    font-size: 16px;
  }

  .tnt-productItem-rootPrice {
    font-size: 12px;
    text-decoration: line-through;
  }
</style>
