.tnt-btn-remove {
  color: $color-666666;
  text-decoration: none;

  &:hover {
    color: $color-e34444;
  }
}

.table>tbody>tr>td{
  position: relative;
  overflow: hidden;
}

.tnt-productItem-state {
  position: absolute;
  text-align: center;
  top: 18px;
  right: -22px;
  color: $color-ffffff;
  padding: 5px;
  width: 100px;
  font-size: 8px;
  text-transform: uppercase;
  transform: rotate(45deg);
  z-index: 1;

  &-0 {
    background-color: $color-67c23a;
  }

  &-1 {
    background-color: $color-e6a23c;
  }

  &-2 {
    background-color: $color-f56c6c;
  }
}

.tnt-no-item {
  margin: 100px 0;
}

.tnt-color {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid $color-eeeeee;
  border-radius: 50%;
}