.tnt-ship-to {
  margin-bottom: 10px;
}

.tnt-ship-name {
  margin-bottom: 10px;
  font-weight: bold;
}

.tnt-ship-email {
  font-size: 10px;
}

.tnt-payment-area {
  position: relative;
  z-index: 1;
}