.tnt-btn-top {
  color: $color-ffffff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: $opacity-000000-3;
  font-size: 30px;
  border-radius: 50%;
  z-index: 1;

  &:hover {
    color: $color-ffffff;
    text-decoration: none;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .tnt-btn-top {
    bottom: 20px;
    right: 10px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}