.btn {
  // font-size: 12px !important;

  &:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.btn-more {
  font-size: 12px;
  color: $color-666666;
  border: 1px solid $color-eaeaea;
  background-color: $color-ffffff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 11px 73px 9px;
  transition: all 0.3s ease-out 0s;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $color-e34444;
    border: 1px solid $color-e34444;
    color: $color-ffffff;
  }
}