.form-control {
  font-size: 12px;

  &:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.input-group-prepend, .input-group-append {
  .btn {
    z-index: 1;
  }
}