.tnt-list {
  box-sizing: border-box;
}

.tnt-list-item {
  box-sizing: border-box;
  padding: 10px 20px;
  display: block;
  cursor: pointer;

  &:hover {
    background-color: $color-eaeaea;
    text-decoration: none;
  }

  &.is-active {
    border-left: 2px solid $color-e34444;
    margin-left: -2px;
    color: $color-e34444;
  }
}