.tnt-tab-title {
  background: url(/images/border.png);
  background-repeat: repeat-x;
  color: $color-333333;
  text-transform: uppercase;
  background-position: left bottom;
  padding-bottom: 14px;
  margin-bottom: 14px;

  h4 {
    font-weight: bold;
    font-size: 20px;
  }
}