<template lang="pug">
  div
    .row.tnt-block
      .col-sm-3.col-12.tnt-block
        a(href="javascript:void(0)", @click="$router.back()")
          i.fa.fa-arrow-left
          |  Previous Page
      .col-sm-6.col-12.tnt-block
        p.text-secondary.tnt-review-date.tnt-block Purchased on {{data.create_date}}
        .row.tnt-block
          .col-sm-3.col-3
            img(:src="data.thumbnail", width="100%", alt="")
          .col-sm-9.col-9
            h6.h6 {{data.name}}
            .row.tnt-block(v-model="data.star")
              .col-12
                star-rating(v-model="data.star", :show-rating="false", :star-size="40")
                small.text-danger(v-if="validate('star')") {{validate('star')}}
            .row.tnt-block
              .col-12
                p.text-success Review detail
            .row.tnt-block
              .col-12
                textarea.form-control(v-validate="'max:500'", name="ratings_comment", rows="5", v-model="data.ratings_comment", :class="validate('ratings_comment') ? 'is-invalid' : ''", placeholder="Please enter a comment about this product")
                .invalid-feedback {{validate('ratings_comment')}}
            .row.tnt-block
              .col-6
                button.btn.btn-success.btn-block(type="button", @click="onSubmit", :disabled="!this.$_.isEmpty(errors.items)") Submit
      .col-sm-3.col-12
</template>
<script>
import StarRating from 'vue-star-rating'

export default {
  layout: 'no-slider',
  middleware: 'authenticated',
  components: {
    StarRating
  },
  data() {
    return {
      title: 'Review Product',
      data: {},
      validateError: {}
    }
  },
  async mounted() {
    const { data } = await this.$axios.get(`write_review?productId=${this.$route.params.id}`)
    this.data = data.data
  },
  methods: {
    onSubmit() {
      const { star, ratings_comment } = this.data
      this.$axios.post('write_review_submit', {
        star,
        ratings_comment,
        product_id: this.$route.params.id
      }).then(res => {
        this.$notify({
            title: 'Notification',
            text: res.data.message,
            type: 'success'
          })
      }).catch(err => {
        const { status, data } = err.response
        if(status === 400) {
          this.validateError = data.data
          return
        }
      })
    },
    validate(fields) {
      if(this.validateError[fields]) {
        return this.validateError[fields]
      }
      
      if(this.errors.has(fields)) {
        return this.errors.first(fields)
      }

      return null
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../../scss/modules/colors";
  @import "../../../scss/modules/_input.scss";
  @import "../../../scss/modules/button";

  // Style
  @import "../../../scss/pages/order/review/_id.scss";
</style>
