<template lang="pug">
  a(href="#").tnt-btn-top
    i.fa.fa-arrow-circle-up
</template>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../scss/modules/colors";
  @import "../scss/modules/btn-top";
</style>
