<template lang="pug">
  .tnt-footer
    .tnt-footer-top
      .container
        .row
          .col-12
            swiper(:options="swiperOption")
              swiper-slide(v-for="item,i in data", :key="item.id")
                nuxt-link(:to="`/search?brand=${item.id}&brandName=${item.name}`")
                  b-img(fluid, :src="item.img", :alt="item.name")
        .row
          .col-md-4.col-sm-12.col-12.tnt-footer-col
            h6 Contact Us
            ul.fa-ul
              li
                i.fa-li.fa.fa-home
                p 716 Cedar Cove Dr, Garland, TX 75040
              li
                i.fa-li.fa.fa-phone
                p (+1) 703-622-6226
              li
                i.fa-li.fa.fa-envelope
                p nuadoixaxu.nuadoixaxu@gmail.com
          .col-md-2.col-sm-4.col-6.tnt-footer-col
            h6 Service
            ul
              li
                nuxt-link(to="/products/sale") On Sale
              li
                nuxt-link(to="/products/best-seller") Best Seller
              li
                nuxt-link(to="/products/featured") Featured
              li
                nuxt-link(to="/products/most-view") Most View
              li
                nuxt-link(to="/contact") Contact
          .col-md-2.col-sm-4.col-6.tnt-footer-col
            h6 Account
            ul
              li
                nuxt-link(to="/profile/my-profile") My Profile
              li
                nuxt-link(to="/profile/my-wishlist") My Wishlist
              li
                nuxt-link(to="/profile/my-orders") Order history
              li
                nuxt-link(to="/profile/vouchers") Gift vouchers
              li
                nuxt-link(to="/profile/view-history") View History
          .col-md-4.col-sm-12.col-12.tnt-footer-col
            h6 Newsletter
            ul
              li
                p Register your email for news
              li
                form
                  input.tnt-subcribe-email(type="email", placeholder="Your email here")
                  input.tnt-subcribe-submit(type="submit", value="Subcribe")
    .tnt-footer-bottom
      .container
        .row
          .col-md-6.col-sm-8.col-12.tnt-footer-copyright &copy; 2018 Nail eCommerce. All Rights Reserved. Developer by 4T&L Team
          .col-md-6.col-sm-4.col-12.tnt-footer-payment
            img(src="/images/paymal.png")
</template>
<script>
import { slugifyConvert as slugify } from '@/js/Utils/Utils'
import 'swiper/dist/css/swiper.min.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  components: {
    swiper,
    swiperSlide
  },
  data() {
    return {
      data: [],
      swiperOption: {
        slidesPerView: 6,
        spaceBetween: 30,
        autoplay: {
          delay: 3000
        },
        breakpoints: {
          576: {
            slidesPerView: 2
          },
          768: {
            slidesPerView: 4
          },
          992: {
            slidesPerView: 6
          }
        }
      }
    }
  },
  async mounted() {
    const { data } = await this.$axios.get('brands')
    this.data = data.data
  },
  methods: {
    slugify(str) {
      return slugify(str)
    }
  }
}
</script>

<style lang="scss" scoped>
  // Modules and Variables
  @import "../scss/modules/colors";
  @import "../scss/modules/icon-list";

  // Partials
  @import "../scss/partials/footer";
</style>