<template lang="pug">
  .tnt-header(ref="header")
    .tnt-header-full
      .tnt-header-top
        .container
          .tnt-module
            .tnt-mb-toolbar.row.align-items-center.d-lg-none
              .col-2
                .tnt-nav-open
                  a(href="javascript:void(0)", @click="mainMenu = true") &#9776;
              .col-6.text-center
                img.tnt-logo-fluid(src="/images/logo.png", height="50", @click="onRedirect('/')")
              .col-4.text-right
                nuxt-link.tnt-cart-icon(to="/cart")
                  i.fa.fa-shopping-cart.fa-2x
                  span.tnt-mainNav-badge {{cartCount > 9 ? '9+' : cartCount}}
                .tnt-nav-open.text-right
                  nuxt-link(to="/search")
                    i.fa.fa-search
                  a(href="javascript:void(0)", @click="navMenu = true")
                    i.fa.fa-user
            .tnt-header-search.d-none.d-lg-flex
              form.tnt-search-form(@submit.prevent="onSearch")
                input.tnt-search-input(type="text", name="q", v-model="form.search", placeholder="Products for search...")
                button.tnt-search-btn(type="submit")
                  i.fa.fa-search
            .tnt-navMenu(:class="navMenu ? 'is-active' : ''")
              a.tnt-nav-close(href="javascript:void(0)", @click="navMenu = false") &times;
              ul.tnt-header-account(v-if="$store.state.auth")
                li.tnt-header-account-item
                  a(href="javascript:void(0)", @click="onRedirect('/profile/my-profile')")
                    i.fa.fa-user
                    |  {{ !$_.isEmpty(user) ? `${user.first_name} ${user.last_name}` : 'My Account'}}
                li.tnt-header-account-item
                  a(href="javascript:void(0)", @click="onRedirect('/profile/view-history')")
                    i.fa.fa-history
                    |  View History
                li.tnt-header-account-item
                  a(href="javascript:void(0)", @click="onRedirect('/profile/my-wishlist')")
                    i.fa.fa-heart
                    |  My Wishlist
                li.tnt-header-account-item
                  a(href="javascript:void(0)", @click="onRedirect('/logout')")
                    i.fa.fa-key
                    |  Logout
              ul.tnt-header-account(v-else)
                li.tnt-header-account-item
                  a(href="javascript:void(0)", @click="onRedirect('/profile/view-history')")
                    i.fa.fa-history
                    |  View History
                li.tnt-header-account-item
                  a(href="javascript:void(0)", @click="onRedirect('/login')")
                    i.fa.fa-key
                    |  Login / Register
      .tnt-menu
        .container
          .row
            .tnt-header-logo.col-md-2.col-sm-4.col-xs-6.col-6.d-none.d-lg-block
              img(src="/images/logo.png", height="50", @click="onRedirect('/')")
            .tnt-overlay.col-md-10.col-sm-8.col-xs-12(:class="mainMenu ? 'is-active' : ''")
              .tnt-overlay-mark(@click="mainMenu = false")
              .tnt-mainMenu
                ul.tnt-mainNav
                  li.tnt-mainNav-item
                    nuxt-link(to="/") Home
                  li.tnt-mainNav-item
                    a(href="javascript:void(0)", @click="onMainMenuOpen(2)") Categories
                    .tnt-wrap-subMenu(:class="mainMenuOpen === 2 ? 'is-open' : ''")
                      ul.tnt-mainNav-child
                        li.tnt-mainNav-child-item(:class="secondMenuOpen === '2-' + i ? 'is-open' : ''", v-for="item,i in $store.state.category.categories")
                          .tnt-wrap-menuTitle
                            a.tnt-ellipsis(href="javascript:void(0)", @click="onRedirect(`/categories/${slugify(item.name)}/${item.id}`)") {{item.name}}
                            span(@click="onSecondMenuOpen('2-' + i)", v-if="item.listChild")
                          .tnt-wrap-secondMenu(v-if="item.listChild")
                            ul.tnt-mainNav-child
                              li.tnt-mainNav-child-item(:class="thirdMenuOpen === `2-${i}-${j}` ? 'is-open' : ''", v-for="itemChild,j in item.listChild")
                                .tnt-wrap-menuTitle
                                  a.tnt-ellipsis(href="javascript:void(0)", @click="onRedirect(`/categories/${slugify(itemChild.name)}/${itemChild.id}`)") {{itemChild.name}}
                                  span(@click="onThirdMenuOpen(`2-${i}-${j}`)", v-if="itemChild.listChild")
                                .tnt-wrap-secondMenu(v-if="itemChild.listChild")
                                  ul.tnt-mainNav-child
                                    li.tnt-mainNav-child-item(v-for="itemChild2,k in itemChild.listChild")
                                      .tnt-wrap-menuTitle
                                        a.tnt-ellipsis(href="javascript:void(0)", @click="onRedirect(`/categories/${slugify(itemChild2.name)}/${itemChild2.id}`)") {{itemChild2.name}}
                  li.tnt-mainNav-item
                    a.text-danger(href="javascript:void(0)", @click="onRedirect('/products/sale')")
                      i.fa.fa-certificate
                      |  On Sale
                  li.tnt-mainNav-item
                    a(href="javascript:void(0)", @click="onRedirect('/products/best-seller')") Best Seller
                  li.tnt-mainNav-item
                    a.text-danger(href="javascript:void(0)", @click="onRedirect('/products/featured')")
                      i.fa.fa-unlock
                      |  Unlock Me
                  li.tnt-mainNav-item
                    a(href="javascript:void(0)", @click="onRedirect('/products/most-view')") Most View
                  li.tnt-mainNav-item
                    a(href="javascript:void(0)", @click="onRedirect('/video')") Video
                  li.tnt-mainNav-item
                    a(href="javascript:void(0)", @click="onRedirect('/contact')") Contact
                .tnt-mainNav
                  nuxt-link.tnt-mainNav-icon(to="/cart")
                    i.fa.fa-shopping-cart.fa-2x
                    span.tnt-mainNav-badge {{cartCount > 9 ? '9+' : cartCount}}
</template>
<script>
import { mapGetters } from 'vuex'
import Cart from '@/js/Models/Cart'
import { slugifyConvert as slugify } from '@/js/Utils/Utils'

export default {
  data() {
    return {
      navMenu: false,
      mainMenu: false,
      mainMenuOpen: '',
      secondMenuOpen: '',
      thirdMenuOpen: '',
      form: {
        search: ''
      },
      cart: new Cart(this),
      products: {
        cart: [
          {
            title: 'Product Name',
            img: '/images/products/example/FEATURED/1.jpg',
            url: '#',
            price: '540.00',
            rootPrice: '600.00',
            sale: 50,
            rate: 4
          },
          {
            title: 'Product Name',
            img: '/images/products/example/FEATURED/2.jpg',
            url: '#',
            price: '540.00',
            rootPrice: '600.00',
            sale: 50,
            rate: 4
          },
          {
            title: 'Product Name',
            img: '/images/products/example/FEATURED/3.jpg',
            url: '#',
            price: '540.00',
            rootPrice: '600.00',
            sale: 50,
            rate: 4
          }
        ]
      }
    }
  },
  computed: {
    ...mapGetters({
      user: 'user/getUser',
      cartCount: 'cart/getCount'
    })
  },
  async created() {
    this.headerAnim()

    if(this.$_.isEmpty(this.$store.state.category.categories)) {
      const categories = await this.$axios.get('categories')
      this.$store.commit('category/addCategories', categories.data.data)
    }

    if(this.$store.state.auth) {
      const fields = ['last_name', 'first_name', 'gender', 'phone', 'email', 'birthday', 'street_address', 'address_line_2', 'city', 'state_province', 'zipcode', 'domain_network']
      this.$axios.get(`/user?fields=${fields.join(',')}`).then((res) => {
        this.$store.commit('user/addUser', res.data.data)
      }).catch((err) => {
        const res = err.response
        if(res.status === 401){
          this.$router.push('/logout')
        }
      })

      await this.cart.count()
    }
  },
  methods: {
    onMainMenuOpen(n) {
      this.mainMenuOpen = this.mainMenuOpen === n ? -1 : n
    },
    onSecondMenuOpen(n) {
      this.secondMenuOpen = this.secondMenuOpen === n ? -1 : n
    },
    onThirdMenuOpen(n) {
      this.thirdMenuOpen = this.thirdMenuOpen === n ? -1 : n
    },
    onRedirect(url) {
      this.navMenu = false
      this.mainMenu = false
      this.$router.push(url)
    },
    slugify(str) {
      return slugify(str)
    },
    headerAnim() {
      let prevScrollpos = window.pageYOffset
      window.onscroll = () => {
        if(!this.$refs.header) return

        const currentScrollPos = window.pageYOffset
        if (prevScrollpos > currentScrollPos) {
          this.$refs.header.style.top = "0";
        } else {
          this.$refs.header.style.top = "-100%";
        }
        prevScrollpos = currentScrollPos;
      }
    },
    onSearch() {
      if(this.form.search) {
        this.$router.push(`/search?q=${this.form.search}`)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../scss/modules/colors";

  // Partials
  @import "../scss/partials/header";
</style>
