<template lang="pug">
  .loading(v-if="loading")
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      // loading: this.$store.state.loading.loading
    }
  },
  computed: {
    ...mapGetters({
      loading: 'loading/getLoading'
    })
  },
  methods: {
    start() {
      this.$store.commit('loading/setLoading', true)
    },
    finish() {
      this.$store.commit('loading/setLoading', false)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../scss/modules/colors";

  .loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      background: url('/images/icon/load-icon.svg') no-repeat;
      width: 100px;
      height: 100px;
    }
  }
</style>
