<template lang="pug">
  .tnt-pagination
    .row
      .col-md-4.d-none.d-sm-block
        p.tnt-amount {{value.total}} item(s)
      .col-md-8.col-12.text-center.text-sm-right
        ul.tnt-page
          li.tnt-page-item
            a(href="javascript:void(0)", v-if="value.currentPage > 1 && totalPage > 1", @click="onPagingClick(1)") «
          li.tnt-page-item
            a(href="javascript:void(0)", v-if="value.currentPage > 1 && totalPage > 1", @click="onPagingClick(--value.currentPage)") ‹
          li.tnt-page-item(v-for="item, i in totalPage", :class="i + 1 === value.currentPage ? 'is-active' : ''", v-if="showPage(i)")
            a(href="javascript:void(0)", @click="onPagingClick(value.currentPage = i + 1)") {{i + 1}}
          li.tnt-page-item
            a(href="javascript:void(0)", v-if="value.currentPage < totalPage", @click="onPagingClick(++value.currentPage)") ›
          li.tnt-page-item
            a(href="javascript:void(0)", v-if="value.currentPage < totalPage", @click="onPagingClick(totalPage)") »
</template>
<script>
import { showPage } from '@/js/Utils/Common'

export default {
  props: {
    value: {
      type: Object,
      required: true
    },
    totalPage: {
      type: Number,
      required: true
    }
  },
  methods: {
    showPage(i) {
      return showPage(this.totalPage, this.value, i)
    },
    onPagingClick(page) {
      this.$emit('change', page)
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../scss/modules/colors";
  @import "../scss/modules/pagination";
</style>
