<template lang="pug">
  .rating(@click="$emit('click', $event)", :class="mode === 'click' ? 'rating-mode-click' : ''")
    .rating-box(:style="styleSize")
      .rating-start(:style="[styleRate(), styleSize]")
    .rating-value(v-if="value") ({{value}} reviews)
    .rating-text(v-if="!$_.isNil(text)") {{text}}
</template>
<script>
export default {
  props: {
    rate: {
      type: Number,
      required: false,
      default: () => {
        return 0
      }
    },
    size: {
      type: Number,
      required: false,
      default: () => {
        return 2
      }
    },
    value: {
      type: Number,
      required: false,
      default: () => {
        return 0
      }
    },
    text: {
      type: String,
      required: false
    },
    mode: {
      type: String,
      required: false
    }
  },
  data() {
    return {
      styleSize: {
        fontSize: `${this.size ? this.size * 6 : 12}px`
      }
    }
  },
  methods: {
    styleRate() {
      return {
        width: `${this.rate ? this.rate * 20 : 0}%`
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  @import "../scss/modules/colors";

  .rating {
    display: flex;
    align-items: center;
  }

  .rating-box {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;

    &::before {
      content: '\f005\f005\f005\f005\f005';
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      letter-spacing: 2px;
      color: #dfdfdf;
      white-space: nowrap;
    }
  }

  .rating-start {
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 0%;
    overflow: hidden;

    &-0 {
      width: 0%;
    }

    &-1 {
      width: 20%;
    }

    &-2 {
      width: 40%;
    }

    &-3 {
      width: 60%;
    }

    &-4 {
      width: 80%;
    }

    &-5 {
      width: 100%;
    }

    &::before {
      content: '\f005\f005\f005\f005\f005';
      white-space: nowrap;
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      letter-spacing: 2px;
      color: #fad507;
    }
  }

  .rating-value {
    margin-left: 5px;
  }

  .rating-text {
    margin-left: 5px;
    color: $color-666666;
  }

  .rating-mode-click {
    cursor: pointer;
  }
</style>
