<template lang="pug">
  div
    b-breadcrumb(:items="breadcrumb")
    .row
      .col-md-3.col-12
        .tnt-content-sidebar.tnt-padding-20(:class="sideBar ? 'is-open' : ''")
          .tnt-sidebar-title
            .row.align-items-center
              h4.col-10 SORT BY
              a.col-2.tnt-sidebar-close.d-block.d-sm-none(href="javascript:void(0)", @click="sideBar = false") &times;
          .tnt-block
            .tnt-block-title
              h5 Price
            .tnt-block-body
              .tnt-range-mb.d-sm-none.d-block
                .row
                  .col-6
                    b-form-input(type="number", placeholder="Min", :value="range.value[0]", @input="updatePriceMin")
                  .col-6
                    b-form-input(type="number", placeholder="Max", :value="range.value[1]", @input="updatePriceMax")
              .tnt-range
                vue-slider.d-none.d-sm-block(
                  v-model="range.value",
                  v-bind="range.options"
                )
              button.tnt-btn-filter(type="button", @click="onConditionChange") Filter
          .block.d-sm-none.d-block
            .tnt-toolbar-select
              label Time
              .tnt-toolbar-option
                select(name="dayFilter", v-model="toolbar.dayFilter", @change="onConditionChange")
                  option(value="") Any time
                  option(value="7") 7 latest days
                  option(value="30") 30 latest days
            .tnt-toolbar-select
              label Sort by
              .tnt-toolbar-option
                select(name="sortBy", v-model="toolbar.sortBy", @change="onConditionChange")
                  option(value="") Popularity
                  option(value="price_discount:asc") Price low to high
                  option(value="price_discount:desc") Price high to low
            .tnt-toolbar-select
              label Show
              .tnt-toolbar-option
                select(name="onePerPage", v-model="toolbar.onePerPage", @change="onConditionChange")
                  option(value="20") 20
                  option(value="50") 50
                  option(value="100") 100
        .tnt-block
          a(:href="ads.url")
            b-img(fluid, :src="ads.img", alt="")
      .col-md-9.col-12
        .tnt-content-body
          .tnt-toolbar
            .row
              .col-md-3.col-6
                span Grid view: 
                a.tnt-toolbar-icon.d-md-inline-block(href="javascript:void(0)", @click="cols = 2", :class="cols === 2 ? 'is-active' : ''")
                  | 2
                a.tnt-toolbar-icon.d-none.d-md-inline-block(href="javascript:void(0)", @click="cols = 3", :class="cols === 3 ? 'is-active' : ''")
                  | 3
                a.tnt-toolbar-icon.d-none.d-lg-inline-block(href="javascript:void(0)", @click="cols = 4", :class="cols === 4 ? 'is-active' : ''")
                  | 4
              .col-md-9.col-6.text-right.d-sm-none.d-block
                span.tnt-amount-mb.d-sm-none.d-inline-block {{pagination.total}} item(s)
                a.tnt-toolbar-icon.is-active(href="javascript:void(0)", title="Filter", @click="sideBar = true")
                  i.fa.fa-filter.fa-spin
              .col-md-9.col-9.text-left.text-sm-right.d-sm-block.d-none
                .tnt-toolbar-select
                  label Sort by
                  .tnt-toolbar-option
                    select(name="sortBy", v-model="toolbar.sortBy", @change="onConditionChange")
                      option(value="") Popularity
                      option(value="price_discount:asc") Price low to high
                      option(value="price_discount:desc") Price high to low
                .tnt-toolbar-select
                  label Show
                  .tnt-toolbar-option
                    select(name="onePerPage", v-model="toolbar.onePerPage", @change="onConditionChange")
                      option(value="20") 20
                      option(value="50") 50
                      option(value="100") 100
          Pagination(v-model="pagination", :totalPage="totalPage", @change="paging")
          .tnt-product
            .row
              .col-md-12(v-if="products.length > 0")
                GridProduct(:list="products", :cols="cols")
              .col-12.text-center(v-else) No products to display
          Pagination(v-model="pagination", :totalPage="totalPage", @change="paging")
</template>
<script>
import vueSlider from 'vue-slider-component'
import GridProduct from '@/components/products/Grid'
import Pagination from '@/components/Pagination'

export default {
  layout: 'no-slider',
  components: {
    vueSlider,
    GridProduct,
    Pagination
  },
  async fetch({ store, params, app, route }) {
    const { data } = await app.$axios.get('featured', {
      params: route.query
    })
    return store.commit('product/setFeatured', data.data)
  },
  data() {
    return {
      title: 'Featured',
      breadcrumb: [{
        text: 'Home',
        to: '/'
      }, {
        text: 'Products',
        active: true
      }, {
        text: 'Featured',
        active: true
      }],
      sideBar: false,
      range: {
        value: this.$store.state.product.featured.rangePrice,
        options: {
          min: 0,
          max: this.$store.state.product.featured.priceMax,
          formatter: '${value}',
          tooltipStyle: {
            backgroundColor: '#e34444',
            borderColor: '#e34444'
          },
          processStyle: {
            backgroundColor: '#e34444'
          },
          interval: Math.ceil(this.$store.state.product.featured.priceMax / 100)
        }
      },
      toolbar: {
        sortBy: this.$route.query.sortBy ? this.$route.query.sortBy : '',
        onePerPage: this.$route.query.onePerPage ? parseInt(this.$route.query.onePerPage) : 20
      },
      pagination: {
        total: this.$store.state.product.featured.paging.total,
        display: 5,
        currentPage: this.$route.query.page ? parseInt(this.$route.query.page) : 1
      },
      cols: 4
    }
  },
  computed: {
    totalPage() {
      return Math.ceil(this.$store.state.product.featured.paging.total / this.toolbar.onePerPage)
    },
    products() {
      return this.$store.state.product.featured.products
    },
    ads() {
      return this.$_.isEmpty(this.$store.state.product.featured.ads) ? {} : this.$store.state.product.featured.ads[0]
    }
  },
  methods: {
    paging(i) {
      this.pagination.currentPage = i
      this.onConditionChange()
    },
    genPath() {
      const condition = {
        page: this.pagination.currentPage,
        sortBy: this.toolbar.sortBy,
        onePerPage: this.toolbar.onePerPage,
        condition: `priceMin:${this.range.value[0]},priceMax:${this.range.value[1]}`
      }
      const params = Object.entries(condition).map(([key, val]) => `${val ? `${key}=${val}` : ''}`).join('&')
      return params
    },
    async onConditionChange() {
      const { data } = await this.$axios.get(`featured?${this.genPath()}`)
      this.$router.replace(`${this.$route.path}?${this.genPath()}`)
      this.sideBar = false
      this.pagination.total = data.data.paging.total
      this.$store.commit('product/setFeatured', data.data)
    },
    updatePriceMin(e) {
      this.range.value[0] = e
    },
    updatePriceMax(e) {
      this.range.value[1] = e
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>

<style lang="scss" scoped>
  // Modules and Variables
  @import "../../scss/modules/colors";
  @import "../../scss/modules/product";
  @import "../../scss/modules/pagination";
  @import "../../scss/modules/input";

  // Partials
  @import "../../scss/partials/sidebar";
  @import "../../scss/pages/products/featured";
</style>
