<template lang="pug">
  div
    FbChat
    notifications(position="top center", :max="notifyMax")
    nuxt(:nuxtChildKey="$route.fullPath")
</template>
<script>
import FbChat from '@/components/FbChat'
export default {
  components: {
    FbChat
  },
  data() {
    return {
      notifyMax: 1
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../scss/partials/blank";
</style>

