<template lang="pug">
  .tnt-wrapper
    notifications(position="top center", :max="notifyMax")
    FbChat
    a#calltrap-btn.b-calltrap-btn.calltrap_offline.hidden-phone.visible-tablet(href="tel:7036226226")
      #calltrap-ico
    Header
    .tnt-slideshow
      swiper.tnt-swiper-slide(:options="swiperOption")
        swiper-slide(v-for="item,i in slideshow", :key="i")
          img(:src="item.img", alt="", width="100%", :data-url="item.url")
    .container.tnt-content
      nuxt(:nuxtChildKey="$route.fullPath")
    Footer
    go-top(
      bg-color="rgba(0, 0, 0, 0.3)",
      :size="50", :z-index="9999",
      :has-outline="false",
      :max-width="0",
      :right="30",
      :bottom="120"
    )
</template>
<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import FbChat from '@/components/FbChat'
import GoTop from '@inotom/vue-go-top'
import 'swiper/dist/css/swiper.min.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  components: {
    Header,
    Footer,
    GoTop,
    swiper,
    swiperSlide,
    FbChat
  },
  data() {
    return {
      notifyMax: 1,
      swiperOption: {
        autoplay: {
          delay: 3000
        },
        effect: 'fade',
        pagination: {
          el: '.swiper-pagination',
          dynamicBullets: true,
          clickable: true
        },
        on: {
          tap: (e) => {
            const url = e.target.dataset.url
            window.location.href = url
          }
        }
      }
    }
  },
  computed: {
    slideshow() {
      return this.$store.state.home.products.slideshow
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../scss/modules/colors";
  @import "../scss/modules/call-btn";

  // Partials
  @import "../scss/partials/layout";
  @import "../scss/partials/content";
  @import "../scss/partials/slideshow";
</style>
