<template lang="pug">
  .tnt-wrapper
    notifications(position="top center", :max="notifyMax")
    FbChat
    a#calltrap-btn.b-calltrap-btn.calltrap_offline.hidden-phone.visible-tablet(href="tel:7036226226")
      #calltrap-ico
    Header
    .container.tnt-content
      nuxt
    Footer
    go-top(
      bg-color="rgba(0, 0, 0, 0.3)",
      :size="50", :z-index="9999",
      :has-outline="false",
      :max-width="0",
      :right="30",
      :bottom="120"
    )
</template>
<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import FbChat from '@/components/FbChat'
import GoTop from '@inotom/vue-go-top'

export default {
  components: {
    Header,
    Footer,
    GoTop,
    FbChat
  },
  data() {
    return {
      notifyMax: 1
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../scss/modules/colors";
  @import "../scss/modules/call-btn";

  // Partials
  @import "../scss/partials/layout";
  @import "../scss/partials/content";
</style>
