<template lang="pug">
  div
    b-breadcrumb(:items="breadcrumbs")
    .row.tnt-detail-block
      .col-md-4(v-if="!$_.isEmpty(data.listThumbnail)")
        .tnt-detail-img
          b-img(:src="data.listThumbnail[detailImg]", fluid)
        .tnt-detail-listImg.tnt-index-1
          el-carousel(type="card", height="80px", trigger="click", indicator-position="none", @change="onThumbnailChange")
            el-carousel-item.text-center(v-for="item,i in data.listThumbnail", :key="i")
              b-img(:src="item", height="80")
          //- carousel(:autoplay="false" :nav="false", :items="4", :autoHeight="true", :center="false", :dots="false")
          //-   b-img(:src="item", v-for="item,i in data.listThumbnail", :key="i", @mouseover="detailImg = i")
      .col-md-8
        .tnt-detail-content
          .tnt-detail-title {{data.name}}
          .tnt-detail-price {{currency(!$_.isNil(data.price_discount) ? data.price_discount : data.price)}}
          .tnt-detail-discount
            span.tnt-detail-rootPrice {{currency(!$_.isNil(data.price_discount) ? `${data.price}` : '')}}
            span.tnt-detail-sale(v-if="data.price_discount") -{{countPercentSell(data.price, data.price_discount)}}%
          .tnt-detail-status Availability: 
            span(:class="states[data.state].style", v-if="!$_.isNil(data.state)") {{states[data.state].name}}
          .tnt-detail-weight Weight: {{data.weight}} Oz
          .tnt-detail-weight(v-if="!$_.isEmpty(data.sizes)")
            b-button.mr-2(size="sm", :variant="sizeFormat(item)", v-for="item,i in data.sizes", :key="item", @click="onChangeSize(item)") {{item}}
          .tnt-detail-color(v-if="!$_.isEmpty(data.colors)") Color: {{data.colorName}}
          .tnt-detail-color(v-if="!$_.isEmpty(data.colors)")
            span(
              :style="`background-color: ${item.color};`", :class="colorSelected(item.color)", v-for="item,i in data.colors",
              :key="i", @click="onChangeColor(item)"
            )
          .text-danger(v-if="data.overWeight") The Product weight exceed the limit of our shipping carrier allow. Please call this phone number for further assistance.
          .tnt-detail-ratings
            .tnt-detail-ratingBox
              StartRate(:rate="data.rate")
            span.tnt-detail-ratingMount ({{infoRates.total}} Reviews)
          .tnt-detail-overview
            h5 QUICK OVERVIEW
            p(v-html="data.quick_orverview")
          .tnt-detail-quantity
            .row.align-items-center
              .col-4.col-sm-2 Quantity
              .col-8.col-sm-3
                Quantity(:min="1", :max="data.number_current", v-model="quantity", @change="quantityChange", :disabled="data.state === 2")
          .tnt-detail-btnGroup
            .row
              .col-6.col-sm-4(v-if="data.state === 2")
                button.btn.btn-danger.btn-block(type="button", @click="addToFavorite") Add To Wishlist
              .col-6.col-sm-4(v-if="data.state < 2")
                button.btn.btn-warning.btn-block(type="button", @click="$router.push('/cart')") Go to Cart
              .col-6.col-sm-4(v-if="data.state < 2 && !data.overWeight")
                button.btn.btn-success.btn-block(type="button", @click="addToCart($route.params.id, data.size, data.color)") Add to Cart
    .row.tnt-detail-block
      .col-md-8.col-12
        .tnt-detail-tabs
          ul.tnt-detail-tab
            li(v-for="item,i in tabs.list", :class="tabs.tabActive === item.name ? 'is-active' : ''", @click="tabs.tabActive = item.name") {{item.title}}
          .tnt-detail-tabItems
            //- .tnt-detail-tabItem(v-html="infoProduct.description", v-if="tabs.tabActive === 'description'")
            .tnt-detail-tabItem(v-if="tabs.tabActive === 'reviews'")
              .tnt-review
                .row
                  .col-12.col-sm-6.col-md-4
                    .tnt-review-score
                      span.tnt-review-score-average {{infoRates.averaged}}
                      span.tnt-review-score-max /5
                    .tnt-review-average
                      StartRate(:rate="infoRates.averaged", :size="5")
                    .tnt-review-count {{infoRates.total}} Ratings
                  .col-12.col-sm-6.col-md-8
                    .tnt-review-star
                      StartRate(:rate="5", :value="star.star_five", :size="3")
                    .tnt-review-star
                      StartRate(:rate="4", :value="star.star_four", :size="3")
                    .tnt-review-star
                      StartRate(:rate="3", :value="star.star_three", :size="3")
                    .tnt-review-star
                      StartRate(:rate="2", :value="star.star_two", :size="3")
                    .tnt-review-star
                      StartRate(:rate="1", :value="star.star_one", :size="3")
              .tnt-comment
                .tnt-comment-title
                  h4 Product Reviews
                .tnt-comment-body(v-if="comments.comments && comments.comments.length > 0")
                  .tnt-comment-item(v-for="item,i in comments.comments")
                    .tnt-comment-star
                      StartRate(:rate="item.star")
                    .tnt-comment-author
                      .row
                        .col-6 by {{item.name}}
                        .col-6.text-right {{item.date_create}}
                    .tnt-comment-content(v-text="item.ratings_comment")
                  .row(v-if="comments.next")
                    .col-12.text-center
                      button.btn-more(type="button", @click="onLoadMore") Load more
                .tnt-comment-body.text-center(v-else)
                  p.tnt-comment-warning
                    i.fa.fa-meh-o.fa-3x
                  p This product has no reviews.
                  p.tnt-comment-warning Let others know what do you think and be the first to write a review.
        .row.tnt-block
          .col-12
            a(:href="ads.url")
              img.img-fluid(:src="ads.img", alt="")
      .col-md-4.col-12
        .tnt-content-sidebar.tnt-padding-20
          .tnt-sidebar-title
            .row.align-items-center
              h4.col-10 BEST SALE
          .tnt-sidebar-content
            ListProduct(:list="products.bestsale")
    .row
      .col-md-12
        .tnt-product-title
          h3 Related Products
        GridProduct(:list="products.relateds", cols="6")
</template>
<script>
import StartRate from '@/components/StarRate'
import carousel from 'vue-owl-carousel'
import GridProduct from '@/components/products/Grid'
import ListProduct from '@/components/products/List'
import Quantity from '@/components/Quantity'
import numeral from 'numeral'
import Cart from '@/js/Models/Cart'
import Product from '@/js/Models/Product'
import { slugifyConvert as slugify } from '@/js/Utils/Utils'

export default {
  layout: 'no-slider',
  components: {
    StartRate,
    carousel,
    GridProduct,
    ListProduct,
    Quantity
  },
  data() {
    return {
      title: this.$store.state.product.product.infoProduct.name,
      breadcrumbs: [{
        text: 'Home',
        to: '/'
      }],
      detailImg: 0,
      size: '',
      color: '',
      quantity: 1,
      states: {
        0: {
          name: 'Stocking',
          style: ''
        },
        1: {
          name: 'Almost Gone',
          style: 'text-warning'
        },
        2: {
          name: 'Sold Out',
          style: 'text-danger'
        }
      },
      commentPage: 1,
      tabs: {
        tabActive: 'reviews',
        list: [
          // {
          //   name: 'description',
          //   title: 'Product Description'
          // },
          {
            name: 'reviews',
            title: 'Reviews'
          },
          // {
          //   name: 'q&a',
          //   title: 'Question & Answer'
          // }
        ]
      },
      data: {},
      cart: new Cart(this),
      product: new Product(this)
    }
  },
  async fetch({ store, params, app, route }) {
    const { data } = await app.$axios.get(`products/${route.params.id}`)
    return store.commit('product/addProduct', data.data)
  },
  created() {
    this.createBreadcrumb(this.breadcrumb)

    // Update view history
    if(this.$store.state.auth) {
      return
    }
    const viewHistory = JSON.parse(localStorage.getItem('view_history'))
    if(this.$_.isEmpty(viewHistory)) {
      localStorage.setItem('view_history', JSON.stringify([
        {
          id: this.$route.params.id,
          name: this.infoProduct.name
        }
      ]))
    } else {
      const objProduct = this.$_.find(viewHistory, {
        id: this.$route.params.id
      })

      if(this.$_.isEmpty(objProduct)) {
        viewHistory.push({
          id: this.$route.params.id,
          name: this.infoProduct.name
        })
        localStorage.setItem('view_history', JSON.stringify(viewHistory))
      }
    }
  },
  mounted() {
    const { 
      price_discount, description, weight,overWeight,
      listThumbnail, number_total, color,
      colors, size, sizes, number_current,
      quick_orverview, rate, price, name, id,
      state, sku_code, options, colorName
    } = this.infoProduct
    this.data = Object.assign({}, this.data, {
      price_discount, description, weight,overWeight,
      listThumbnail, number_total, color,
      colors, size, sizes, number_current,
      quick_orverview, rate, price, name, id,
      state, sku_code, options, colorName
    })
  },
  computed: {
    infoProduct() {
      return this.$store.state.product.product.infoProduct
    },
    comments() {
      return this.$store.state.product.product.comments
    },
    star() {
      return this.$store.state.product.product.star
    },
    infoRates() {
      return this.$store.state.product.product.infoRates
    },
    products() {
      return this.$store.state.product.product.products
    },
    breadcrumb() {
      return this.$store.state.product.product.breadcrumb
    },
    ads() {
      return this.$_.isEmpty(this.$store.state.product.product.ads) ? {} : this.$store.state.product.product.ads[0]
    }
  },
  methods: {
    quantityChange(val) {
      this.quantity = val
    },
    currency(num) {
      return numeral(num).format('$0,0.00')
    },
    countPercentSell(price, price_discount) {
      return Math.ceil((price - price_discount) / price * 100)
    },
    async addToFavorite() {
      if(!this.$store.state.auth) {
        this.$router.push('/login')
        return
      }
      const res = await this.product.addFavorite(this.$route.params.id)
      this.$notify({
        title: 'Notification',
        text: res.message,
        type: 'success'
      })
    },
    async addToCart(id, size, color) {
      if(!this.$store.state.auth) {
        this.$router.push('/login')
        return
      }
      await this.cart.add(id, size, color, this.quantity)
    },
    async onLoadMore() {
      const {data} = await this.$axios.get(`comment_rate/${this.$route.params.id}?page=${++this.commentPage}`)
      this.$store.commit('product/loadComment', data.data)
    },
    onChangeSize(sizing) {
      const option = this.data.options.find(item => item.size === sizing && item.color === this.data.color)

      if(!this.$_.isEmpty(option)) {
        const {
          price_discount, size, color,
          price, state, number_total,
          number_current, listThumbnail,
          weight, colorName
        } = option

        this.data = Object.assign({}, this.data, {
          price_discount, size, color,
          price, state, number_total,
          number_current, listThumbnail,
          weight, colorName
        })

        if(number_current > 0 && this.quantity === 0) {
          this.quantity = 1
        } else if(number_current === 0) {
          this.quantity = 0
        } else {
          this.quantity = this.quantity > number_current ? number_current : this.quantity
        }
      } else {
        this.data = Object.assign({}, this.data, {
          size: sizing,
          color: this.data.color,
          state: 2
        })
        this.quantity = 0
      }
    },
    sizeFormat(size) {
      return size === this.data.size ? 'dark' : 'light'
    },
    onChangeColor(item) {
      const option = this.data.options.find(el => el.color === item.color && el.size === this.data.size)

      if(!this.$_.isEmpty(option)) {
        const {
          price_discount, size, color,
          price, state, number_total,
          number_current, listThumbnail,
          weight, colorName
        } = option

        this.data = Object.assign({}, this.data, {
          price_discount, size, color,
          price, state, number_total,
          number_current, listThumbnail,
          weight, colorName
        })

        this.detailImg = 0

        if(number_current > 0 && this.quantity === 0) {
          this.quantity = 1
        } else if(number_current === 0) {
          this.quantity = 0
        } else {
          this.quantity = this.quantity > number_current ? number_current : this.quantity
        }
      } else {
        this.data = Object.assign({}, this.data, {
          size: this.data.size,
          color: item.color,
          state: 2
        })
        this.quantity = 0
      }
    },
    colorSelected(color) {
      return color === this.data.color ? 'is-selected' : ''
    },
    createBreadcrumb(breadcrumb) {
      if(!this.$_.isEmpty(breadcrumb.child)) {
        this.breadcrumbs.push({
          text: breadcrumb.name,
          to: `/categories/${this.slugify(breadcrumb.name)}/${breadcrumb.id}`
        })
        this.createBreadcrumb(breadcrumb.child)
      } else {
        this.breadcrumbs.push({
          text: breadcrumb.name,
          to: `/categories/${this.slugify(breadcrumb.name)}/${breadcrumb.id}`
        }, {
          text: this.infoProduct.name,
          active: true
        })
      }
    },
    slugify(str) {
      return slugify(str)
    },
    onThumbnailChange(i) {
      this.detailImg = i
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../../scss/modules/colors";
  @import "../../../scss/modules/input";
  @import "../../../scss/modules/button";
  @import "../../../scss/modules/product";

  // Partials
  @import "../../../scss/partials/sidebar";
  @import "../../../scss/pages/products/id";
</style>
