<template lang="pug">
  .tnt-body
    .container
      .row.justify-content-center
        .col-xl-5.col-lg-6.col-md-8.col-12
          b-card
            form.tnt-login-form(method="POST")
              p.tnt-login-logo
                nuxt-link(to="/")
                  b-img(src="/images/logo.png", width="150")
              .form-group
                input.form-control.form-control-lg(v-validate="'required'", type="text", name="username", placeholder="Email Address or Phone Number", v-model="form.username", :class="validate('username') ? 'is-invalid' : ''")
                .invalid-feedback {{validate('username')}}
              .form-group
                input.form-control.form-control-lg(v-validate="'required'", type="password", name="password", placeholder="Password", v-model="form.password", :class="validate('password') ? 'is-invalid' : ''")
                .invalid-feedback {{validate('password')}}
              .row.tnt-input-group
                .col-md-6.col-6
                  .tnt-input-checbox
                    input#remember(type="checkbox", name="remember", v-model="form.isRemember")
                    label(for="remember") Remember
                .col-md-6.col-6.text-right
                  nuxt-link(to="/forgot") Forgot password?
              .tnt-input-group
                button.btn.btn-success.btn-lg.btn-block.tnt-login-btn(type="button", @click="onLogin", :disabled="!this.$_.isEmpty(errors.items)") Login
                button.btn.btn-primary.btn-lg.btn-block.tnt-login-btn.tnt-login-btn-fb(type="button", @click="onFbLogin") Login with Facebook
              .row.tnt-input-group
                .col-md-6.col-5
                  nuxt-link(to="/") Back to home
                .col-md-6.col-7.text-right
                  nuxt-link(to="/register") Create new account

</template>
<script>
import swal from 'sweetalert'
const Cookie = process.client ? require('js-cookie') : undefined

export default {
  layout: 'blank',
  middleware: 'notAuthenticated',
  data() {
    return {
      title: 'Login',
      form: {
        username: '',
        password: '',
        isRemember: true,
        idList: this.addViewedHistory()
      },
      validateError: {
        username: '',
        password: ''
      }
    }
  },
  created() {
    return (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = '/js/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  },
  mounted() {
    window.fbAsyncInit = function() {
      FB.init({
        appId      : process.env.fbAppId,
        cookie     : true,
        xfbml      : true,
        version    : 'v3.2'
      });

      FB.getLoginStatus(function(response) {
        // statusChangeCallback(response);
        if(response.status === 'connected') {
          FB.logout()
        }
      })
    };
  },
  methods: {
    onLogin() {
      this.validateError = {}
      this.$axios.post('/login', this.form)
        .then((res) => {
          if(!res.data.status) {
            swal({
              text: res.data.message,
              icon: 'error',
            })
          } else {
            this.$store.commit('setAuth', res.data.token)
            Cookie.set('auth', res.data.token, {
              expires: this.form.isRemember ? 30 : 0
            })
            this.removeViewedHistory()
            this.$router.push('/')
          }
        })
        .catch((err) => {
          const res = err.response
          if(res.data.message) {
            swal({
              text: res.data.message,
              icon: 'error',
            })
            return
          } else {
            this.validateError = res.data.data
            return
          }
        })
    },
    onFbLogin() {
      FB.login(async (res) => {
        const authResponse = res.authResponse
        if(authResponse) {
          const { data } = await this.$axios.post('loginfacebook', {
            token: authResponse.accessToken,
            idList: this.addViewedHistory()
          })
          this.checkLoginFacebook(data, authResponse.accessToken)
        }
      }, {
        scope: ['email'],
        return_scopes: true
      })
    },
    validate(fields) {
      if(this.validateError[fields]) {
        return this.validateError[fields]
      }
      
      if(this.errors.has(fields)) {
        return this.errors.first(fields)
      }

      return null
    },
    checkLoginFacebook(data, token) {
      this.$store.commit('login/setLogin', {
        type: 'Facebook'
      })

      if(data.status) {
        this.$store.commit('setAuth', data.token)
        Cookie.set('auth', data.token, {
          expires: this.form.isRemember ? 30 : 0
        })
        this.removeViewedHistory()
        this.$router.push('/')
      } else {
        if(data.data.redirect) {
          this.$router.push('/login/update')
        }
      }
    },
    addViewedHistory() {
      const viewHistory = JSON.parse(localStorage.getItem('view_history'))
      let idList = ''
      if(!this.$_.isEmpty(viewHistory)) {
        idList = viewHistory.map(item => item.id).join(',')
      }
      return idList
    },
    removeViewedHistory() {
      localStorage.removeItem('view_history')
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../scss/modules/colors";
  @import "../../scss/modules/input";
  @import "../../scss/modules/button";

  // Partials
  @import "../../scss/pages/login";
</style>
