<template lang="pug">
  .tnt-body
    .container
      .row.justify-content-center
        .col-xl-5.col-lg-6.col-md-8.col-12
          b-card
            form.tnt-login-form(method="POST")
              p.tnt-login-logo
                nuxt-link(to="/")
                  b-img(src="/images/logo.png", width="150")
              .form-group
                input.form-control.form-control-lg(v-validate="'required'", type="text", name="firstName", placeholder="First Name", v-model="form.firstName", :class="validate('firstName') ? 'is-invalid' : ''")
                .invalid-feedback {{validate('firstName')}}
              .form-group
                input.form-control.form-control-lg(v-validate="'required'", type="text", name="lastName", placeholder="Last Name", v-model="form.lastName", :class="validate('lastName') ? 'is-invalid' : ''")
                .invalid-feedback {{validate('lastName')}}
              .form-group
                input.form-control.form-control-lg(v-validate="'required|email'", type="text", name="email", placeholder="Email Address", v-model="form.email", :class="validate('email') ? 'is-invalid' : ''", disabled)
                .invalid-feedback {{validate('email')}}
              .form-row
                .form-group.col-md-7
                  input.form-control.form-control-lg(v-validate="'required'", type="text", name="phone", placeholder="Phone Number", v-mask="'###-###-####'", v-model="form.phone", :class="validate('phone') ? 'is-invalid' : ''")
                  .invalid-feedback {{validate('phone')}}
                .form-group.col-md-5
                  select.form-control.form-control-lg(v-validate="'required'", name="network", v-model="form.network", :class="validate('network') ? 'is-invalid' : ''")
                    option(value="") ---Provider---
                    option(:value="item.domain_network", v-for="item in $store.state.register.network") {{item.name_network}}
                  .invalid-feedback {{validate('network')}}
              .tnt-input-group
                .tnt-input-checbox
                  input#agree(v-validate="'required'", type="checkbox", name="agree", value="1", v-model="form.agree")
                  label(for="agree") I agree to DNM
                    nuxt-link(to="policy")  Terms and Conditions and Privacy Policies.
                span.text-danger {{validate('agree')}}
              .tnt-input-group
                button.btn.btn-success.btn-lg.btn-block.tnt-login-btn(type="button", @click="onUpdate", :disabled="!this.$_.isEmpty(errors.items)") Update
</template>
<script>
import swal from 'sweetalert'
const Cookie = process.client ? require('js-cookie') : undefined

export default {
  layout: 'blank',
  middleware: [
    'notAuthenticated',
    'loginSocial'
  ],
  data() {
    return {
      title: 'Update User Info',
      form: {
        firstName: '',
        lastName: '',
        email: '',
        phone: '',
        network: '',
        agree: true,
        idList: this.addViewedHistory()
      },
      validateError: {}
    }
  },
  async fetch ({store, params, app, redirect}) {
    const fields = ['domain_network', 'name_network']
    const { data } = await app.$axios.get(`/carrier?fields=${fields.join(',')}`)
    return store.commit('register/add', data.data)
  },
  mounted() {
    this.parseInfo()
  },
  methods: {
    onUpdate() {
      this.validateError = {}
      const {
        firstName,
        lastName,
        email,
        phone,
        network,
        agree,
        idList } = this.form
      this.$axios.post('signupfacebook', {
        firstName,
        lastName,
        email,
        phone: phone.replace(/-/g, ''),
        network,
        agree,
        idList
      })
        .then((res) => {
          if(!res.data.status) {
            swal({
              text: res.data.message,
              icon: 'error',
            })
          } else {
            this.$store.commit('setAuth', res.data.token)
            Cookie.set('auth', res.data.token, {
              expires: this.form.isRemember ? 30 : 0
            })
            this.removeViewedHistory()
            this.$router.push('/')
          }
        })
        .catch((err) => {
          const res = err.response
          if(res.status === 400) {
            this.validateError = res.data.data
            return
          }
        })
    },
    validate(fields) {
      if(this.validateError[fields]) {
        return this.validateError[fields]
      }
      
      if(this.errors.has(fields)) {
        return this.errors.first(fields)
      }

      return null
    },
    parseInfo() {
      FB.getLoginStatus((res) => {
        if(res.status === 'connected') {
          FB.api('/me', {
            fields: 'email, first_name, last_name'
          }, (res) => {
            this.form.firstName = res.first_name
            this.form.lastName = res.last_name
            this.form.email = res.email
          })
        } else {
          this.$router.push('/login')
        }
      })
    },
    addViewedHistory() {
      const viewHistory = JSON.parse(localStorage.getItem('view_history'))
      let idList = ''
      if(!this.$_.isEmpty(viewHistory)) {
        idList = viewHistory.map(item => item.id).join(',')
      }
      return idList
    },
    removeViewedHistory() {
      localStorage.removeItem('view_history')
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../scss/modules/colors";
  @import "../../scss/modules/input";
  @import "../../scss/modules/button";

  // Partials
  @import "../../scss/pages/login";
</style>
